[2013-12-04 23:09] anholt opened #1 "Add symbol versioning"
Since we don't want to bump the soname every release, we need to tag our symbols.

[2013-12-04 23:09] anholt opened #2 "Port to windows"
This involves generating from wgl.spec and porting common_dispatch.c

[2013-12-04 23:10] anholt opened #3 "Port to OSX"
Not sure what's involved here -- there's the dlsym instead of glXGetProcAddress, but do we have to do anything for the window system?

[2013-12-04 23:11] anholt opened #4 "Use ifuncs or something"
The local dispatch table we keep adds overhead, but if we used ifuncs we could avoid that on ELF systems with recent gcc.

It requires some assumptions about when a returned stub can change, but I think we're clear there.

[2013-12-04 23:12] anholt opened #5 "eglplatform.h dependency avoidable?"
Is there any sane way to handle khrplatofrm.h/eglplatform.h's platform-dependent typedefs?

[2013-12-04 23:13] anholt opened #6 "Fix is_glx()/is_egl() and autodetection"
it's full of bonghits right now.

[2013-12-04 23:15] anholt opened #7 "Fixup README.md"
formatting's broken.

[2013-12-04 23:22] anholt opened #8 "Review all comments"
I've got a bunch of stale comments about ifuncs and things laying around.

[2013-12-05 18:27] anholt opened #9 "Fix memory leaks"
Need to add an interface for users to call at exit for cleaning up for valgrind's sake.

[2013-12-10 06:58] #7 closed, assigned to anholt

[2013-12-10 17:42] #6 closed, assigned to anholt

[2013-12-11 23:13] #4 closed, assigned to anholt

[2013-12-16 18:45] #8 closed, assigned to anholt

[2013-12-16 18:46] #3 closed, assigned to anholt

[2013-12-17 23:08] #2 closed, assigned to anholt

[2013-12-17 23:15] anholt opened #10 "Deal with wglUseFontBitmaps"
The code is confused about whether it's a real function or a #define.

[2013-12-17 23:16] anholt opened #11 "Improve WGL single-context performance"
We should be using the linux-like function pointer resolution, until a MakeCurrent comes along that changes our pixel format, at which point we'd switch to dispatch tables.

[2013-12-17 23:17] anholt opened #12 "Improve WGL MakeCurrent performance"
Right now we reset the dispatch table to re-resolve everything every time.  Instead, track the resolved dispatch tables for different formats/devices in a hash table and reuse them.

[2013-12-17 23:18] anholt opened #13 "WGL extension detection with no context present."
I think this is totally broken; need to write tests.

[2014-01-19 20:05] elfring opened #14 "reserved identifier violation"
I would like to point out that identifiers like "[`__EPOXY_EGL_H`](https://github.com/anholt/libepoxy/blob/21f4346af0fb1076d403ec4cfa6910de05eb06b2/include/epoxy/egl.h#L30)" and "[`__EPOXY_GLX_H`](https://github.com/anholt/libepoxy/blob/21f4346af0fb1076d403ec4cfa6910de05eb06b2/include/epoxy/glx.h#L30)" [do not fit](https://www.securecoding.cert.org/confluence/display/seccode/DCL37-C.+Do+not+declar

[2014-01-22 09:42] #14 closed, assigned to nobody

[2014-01-29 03:54] djkurtz opened #15 "typo in src/Makefile.am"
Sorry, I'm not setup to upload patches, but here is a quick bug report.

In src/Makefile.am, there are a bunch of lines like the following that need s/tuilddir/builddir

GENERATED_{GLX,WGL,EGL}_INCLUDES = $(tuilddir)/../include/epoxy/glx_generated.h \

[2014-01-29 04:04] djkurtz opened #16 "Add -ldl to epoxy.pc.in"
I needed to explicitly add -ldl as a private Lib to libepoxy's pc file to get epoxy linked into piglit libs, otherwise they could not find dlopen/dlsym.  Perhaps you aren't seeing this if you are using mesa?

I added this to epoxy.pc.in:
Libs.private: -ldl

And to src/Makefile.am:
libepoxy_la_LIBADD = -ldl

But perhaps there is a more generic/cross-platform way to do this (like what mesa does).

[2014-01-29 04:08] djkurtz opened #17 "Do not manually redefine khronos inttypes in src/gen_dispatch.py"
The khronos_\* types defined in <KHR/khrplatform.h> are system-dependent.  That is why they are defined in a system dependent include file.

Just include the header instead of manually redefining them.

In particular, "typedef ptrdiff_t khronos_ssize_t" is not portable; ptrdiff_t is not defined on all systems.

[2014-01-29 04:14] djkurtz opened #18 "src/dispatch_common.c: fails to build on linux if GLX is not available"
There are a few glXGetProcAddressARB() and PFNGLXGETPROCADDRESSARBPROC references in code blocks unprotected by "#if PLATFORM_HAS_GLX" blocks.

[2014-01-29 04:16] djkurtz opened #19 "src/dispatch_common: Use dlsym on the currently active GL client library to lookup the "bootstrap" functions (when there is no GLX)"
There are a few "bootstrap" GL functions that are hardcoded to always use epoxy_get_core_proc_address(), which at present only looks up OpenGL core functions.  Unfortunately, this fails there is no OpenGL (or GLX).

These core functions are common across all GL client core libraries. However, since they are not extension functions, they can not be looked up by eglGetProcAddress either.

Instead we

[2014-01-29 18:44] dcbaker opened #20 "Top level License file"
This is obviously a very small thing, but it would be helpful to have a top level license file.

[2014-01-30 20:24] #15 closed, assigned to nobody

[2014-01-30 20:24] #16 closed, assigned to nobody

[2014-01-31 23:53] #19 closed, assigned to nobody

[2014-01-31 23:53] #20 closed, assigned to nobody

[2014-02-06 19:33] #17 closed, assigned to nobody

[2014-02-28 21:20] djkurtz opened #21 "GLES 3.0 core functions must be resolved with dlsym() not eglGetProcAddress()"
Please see the comment here:
https://github.com/anholt/libepoxy/commit/0270c80008e3c6b9f2f5dfba03631f72c7920796#commitcomment-5529004

[2014-02-28 21:22] djkurtz opened #22 "Avoid using epoxy_gl_dlsym() for bootstrap functions when desktop GL is not supported"
Please see the comment here:
https://github.com/anholt/libepoxy/commit/1064406814190cfa1f95ba01d08f87596065ac7e#commitcomment-5528921

[2014-03-08 22:28] sesse opened #23 "Shader compilation fails on nVidia"
Hi,

I'm switching from GLEW to epoxy in a project, to try to improve my GLES support. It all works fine on Mesa, but on nVidia's proprietary drivers (on Linux) shader compilation doesn't work. More specifically, I do

[code]

but it is as if glGetShaderInfoLog() was never called; log_length is still 4095, and according to Valgrind, the strlen(info_log) touches uninitialized bytes. info_log comes

[2014-03-17 18:06] #22 closed, assigned to nobody

[2014-03-17 18:20] #21 closed, assigned to nobody

[2014-03-20 01:45] #23 closed, assigned to nobody

[2014-03-20 17:30] sesse opened #24 "Every GLES function becomes NULL on NVidia"
Hi,

I'm testing NVidia's latest beta drivers (334.16), which support GLES2 and GLES3 on desktop cards also on 64-bit x86 (existing versions support 32-bit x86 and ARM).

The setup seems to be fine; I can run es2gears and es2_info without issues. I get (from SDL2) a GLES3 context (also tried GLES2), but when I try to actually call any functions, I get

loading libEGL.so.1
loading libGL.so.1
loadin

[2014-03-27 22:39] #10 closed, assigned to anholt

[2014-03-28 20:31] #24 closed, assigned to nobody

[2014-03-28 23:18] #18 closed, assigned to nobody

[2014-03-29 00:04] #11 closed, assigned to nobody

[2014-04-04 03:56] chadversary opened #25 "epoxy_egl_get_current_gl_context_api never returns EGL_OPENGL_ES_API on conformant EGL 1.4"
If I understand libepoxy correctly, this bug causes libepoxy to dlsym the wrong library during dispatch resolution. Disclaimer: I found this by statically reading code and I haven't run libepoxy yet.

The EGL 1.4 spec, as of 2013-12-04, says:

[code]

That includes eglGetCurrentContext too.

Mesa doesn't conform here, though some other EGL implementations do. I filed a Mesa bug long ago and forgot

[2014-05-04 23:19] ddennedy opened #26 "wgl.h not installed"
Hi, I am using Movit, which uses libepoxy, in a cross compile environment targeting mingw32. Upon make install, include/epoxy does not contain wgl.h and wgl_generated.h. movit/util.cpp includes <epoxy/wgl.h> and calls wglGetCurrentContext(), which is defined in wgl_generated.h. Is this an oversight, intentional, or am I overlooking something I need to do?

[code]

[2014-05-13 20:40] #26 closed, assigned to nobody

[2014-05-22 09:53] djkurtz opened #29 "epoxy_current_context_is_glx() should return false when EGL fetches non-NULL currently bound api"
https://github.com/anholt/libepoxy/blob/6eb075c70e2f91a9c45a90677bd46e8fb0432655/src/dispatch_common.c#L368

should return false

[2014-06-02 17:18] spitzak opened #30 "Configure not using include from egl package"
I ran into this attempting to compile Wayland's XServer.

If EGL is installed in the --prefix directory it will not find the correct EGL header files. I think configure needs to use the output of "pkgconfig --cflags egl".

To reproduce:

Note that if the xcb or xproto packages are installed it does get the correct include search path from these.

[2014-06-13 22:03] #29 closed, assigned to nobody

[2014-06-13 22:03] #30 closed, assigned to nobody

[2014-07-11 09:53] turol opened #31 "Fails to configure with emscripten"
Trying to configure for emscripten with:

emconfigure ./configure

results in error:
checking for EGL... no
configure: error: Package requirements (egl) were not met:

No package 'egl' found

Emscripten should not require anything special for EGL. Adding (empty) environment variables EGL_CFLAGS and EGL_LIBS has no effect, it still fails in the same way.

[2014-08-06 06:41] mm120 opened #32 "Extra break in dispatch_wgl.c::DllMain"
In dispatch_wgl.c, line 133, there seems to be an extra break statement.
This means that the following lines (that free the TlsIndex) are never run.

git blame says:

9a7be078 » anholt
2013-12-17 win32: Use thread local sto

(found by reading the code, not run or tested or anything).

126      case DLL_THREAD_DETACH:
127	    case DLL_PROCESS_DETACH:
128	        data = TlsGetValue(gl_tls_index);
12

[2014-10-14 08:07] djkurtz opened #33 "libepoxy requires EGL_KHR_reusable_sync for eglCreateSyncKHR()"
eglCreateSyncKHR() and friends are defined by two EGL extensions:
  EGL_KHR_fence_sync and EGL_KHR_reusable_sync

However, in the egl registry, they are only listed for EGL_KHR_reusable_sync, with just a comment in EGL_KHR_fence_sync:
  https://github.com/anholt/libepoxy/blob/master/registry/egl.xml#L1627

However, it is possible for a libEGL to provide EGL_KHR_fence_sync but not EGL_KHR_reusable_

[2014-10-23 12:09] fanc999 opened #34 "Add Support to Build libepoxy with Visual Studio"
Hi,

From the next stable version of GTK+ (3.16.0, and the current git master branch for it), we would start to use libepoxy so that it would make it simpler to make the OpenGL calls on various systems.

Since GTK+ supports building with Visual Studio, I would like to maintain that every part of the stack is buildable with Visual Studio as well, and I would like to propose the changes to libepoxy

[2014-10-30 11:33] nacho opened #36 "Getting a crash from epoxy_get_proc_address"
Program received signal SIGSEGV, Segmentation fault.
0x0000000000000000 in ?? ()
Missing separate debuginfos, use: debuginfo-install dbus-libs-1.6.12-9.fc20.x86_64 expat-2.1.0-7.fc20.x86_64 freetype-2.5.0-5.fc20.x86_64 glibc-2.18-16.fc20.x86_64 gmp-5.1.2-2.fc20.x86_64 gnutls-3.1.27-1.fc20.x86_64 keyutils-libs-1.5.9-1.fc20.x86_64 krb5-libs-1.11.5-11.fc20.x86_64 libICE-1.0.8-6.fc20.x86_64 libSM-1.2.

[2014-12-12 19:05] elmarco opened #37 "Can't use egl-only libepoxy app with egl apitrace"
libepoxy links with glx by default on Mesa/X, but those symbols are not exported by apitrace egltrace.so. I built a fake Android egl-only version by tweaking configure and CFLAGS, so far it seems to work. Feel free to correct me if I am doing something wrong.

[2015-01-09 21:34] anholt commented on #31
Do you not have an egl.pc for your environment?

[2015-01-09 22:18] anholt commented on #34
I'm a terrible maintainer.  I just went looking through the patches now.  On Linux I'm getting 2 fewer tests passing (GLX_NON_APPLE_TEST_PROGS vs _TESTS I think), and I'd like to see a license on detect-msvc.mak, which is quite a bit of code to not have a license.  If you fixed those and force-pushed to your repo, I'd pull it (well, and I'd update COPYING with appropriate info as well).

[2015-01-09 22:21] anholt commented on #37
It doesn't link against libGL (the GLX library), so I'm not sure what bug you're trying to say there is.

anholt@eliezer:anholt/src/libepoxy% ldd /usr/lib/x86_64-linux-gnu/libepoxy.so
	linux-vdso.so.1 (0x00007fff799fe000)
	libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007f55d6835000)
	libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007f55d648c000)
	/lib64/ld-linux-x86-64.so.2 (0x00007f55d6

[2015-01-09 23:01] #32 closed

[2015-01-09 23:35] archshift opened #39 "Update README to reflect that GLX is no longer needed on OS X"

[2015-01-16 10:37] fanc999 commented on #34
Hi,

Since I (later had) opened a pull request with issue #35, probably it might be good that further items about this part is directed there, so this becomes more-or-less a duplicate issue.  Will close this issue as a result.

With blessings, thank you!

[2015-01-16 10:37] #34 closed

[2015-02-05 22:22] codekiddy2 opened #40 "Epoxy solution for Visual Studio 2013"
Hello guys, I'm working on series of Visual studio solutions for gtkmm and it's dependency packages..
so I created Visual Studio solution to build latest libepoxy with latest msvc.
I made some changes though to the original files however, and if you have time to review the solution and give your opinion on what could be possibly wrong it would be great.

I made tests for release and debug builds,

[2015-03-17 15:06] felibb opened #43 "SyntaxError: invalid syntax during "make""
Hi,

I am trying to compile libepoxy on AWS Linux, and I get this error during "make":

[code]

autogen.sh ran without errors. Any help is appreciated.

[2015-03-19 00:13] roothorick opened #44 "libepoxy cannot be used on MinGW"
The release binaries don't work, because the symbols generated by GCC from the headers do not match the objects in libepoxy-0.lib.

The source cannot be compiled, because MinGW lacks Xorg macros, which are necessary for generating configure.

[2015-03-19 00:27] roothorick commented on #44
It seems I jumped to conclusions a bit early. But... why isn't configure generated in releases?

[2015-03-19 00:27] #44 closed

[2015-03-19 03:29] roothorick opened #46 "Generated function definition pointers are missing GLAPIENTRY prefix"
Just an example. gl_generated.h in my MinGW environment wound up containing:

    typedef void ( *GLDEBUGPROCARB)(GLenum source,GLenum type,GLuint id,GLenum severity,GLsizei length,const GLchar *message,const void *userParam);

but per the [extension spec](https://www.opengl.org/registry/specs/ARB/debug_output.txt), it SHOULD be:

    typedef void (APIENTRY *DEBUGPROCARB)(enum source,

[2015-03-20 01:04] roothorick commented on #46
I thought this was just a benign goof. It's not. Windows NEEDS the __stdcall (from GLAPIENTRY) decoration for the callback to work correctly; otherwise a segfault occurs when the callback returns.

I'm working in C++, so I'm working around the problem like this:
    void GLAPIENTRY ErrorCallback(GLenum source, GLenum type, GLuint id, GLenum severity, GLsizei length, const GLchar* message, const vo

[2015-03-21 17:41] LRN opened #47 "Wrong W32 OpenGL core version"
OpenGL32.dll is said (by MSDN and opengl.org wiki) to export 1.1 functions. Specifically, it does export glDrawArrays. Which means that using wglGetProcAddress for glDrawArrays is going to return NULL, which crashes the program, once this NULL pointer is called.

Please change core_symbol_support from 10 to 11 in dispatch_common.c

If that is not a solution (for some reason that i am not aware of,

[2015-03-30 13:23] sylware opened #48 "misc issues"
The release tarball, 1.2 at the time of written, misses the distribution generated files from the GNU autotools (=forgot to run autoreconf?)

On GNU/Linux/x11, libepoxy configuration should allow plain x11 (without/different from GL):
 - should defaults to build_egl=no and build_glx=no (or autodetect) in configure.ac
 - To reflect the above and allow compilation, dispatch_common.h should default t

[2015-04-06 10:06] pavolzetor opened #49 "Add OpenGL 4.5 support"
Mesa is getting new extensions from GL 4.5 and it would be nice to have them supported in libepoxy.

[2015-05-21 05:04] RobotCaleb opened #54 "glDebugMessageCallback crashes on windows"
Looks like it corrupts the stack after returning from my callback.

Unsure how to fix as it looks like there's no easy way to build epoxy on Windows.

engineers-nightmare/engineers-nightmare#103

[2015-05-22 03:50] RobotCaleb commented on #54
Looks like this is a duplicate of #46. I'll close this one hoping we'll  get some :heart: on that one.

[2015-05-22 03:50] #54 closed

[2015-06-05 10:11] fanc999 commented on #40
Hi codekiddy2,

As I am also getting libepoxy to work with Visual Studio (issues #55 and #56), can I find out where I can find your modifications to the libepoxy code, so that maybe you could look at my changes as well?  I couldn't find it from your link.

With blessings, thank you!

[2015-06-14 13:24] codekiddy2 commented on #40
Hi fanc999,
My latest commit to master -> https://github.com/codekiddy2/Visual-Studio-gtkmm/tree/master/projects was 3 months ago and I'm no longer active at my gtkmm repo compilation and it's dependencies.

My aim was to make build everything "the same way" by using Visual Studio solutions, and From what I remember about libepoxy the only modification was made to following files:
** Makefile.mak

[2015-06-19 22:53] jackjansen opened #59 "A new release would be nice, especially because of the OSX fix"
Libepoxy is needed when building Gtk on OSX, and the 1.2 release doesn't have to fix to allow building libepoxy without first installing x11-dev. That is becoming more and more painful nowadays.

A new distribution would be nice, because right now you have to pull over the git repository, which is of course also a moving target...

[2015-06-27 17:00] CAPTNCAPS opened #60 "Cannot Compile - Running autogen.sh produces errors"
Running the autogen.sh file produces following errors:
![Image of Error](http://i.imgur.com/4u4BYDK.png)

I am running Ubuntu 15.04 have the listed dependencies installed.
I am new to linux world and don't know how I can fix it, so I thought I'd report it.

[2015-07-15 20:37] anholt commented on #60
You need libtool installed., as the errors are suggesting.

[2015-07-15 20:37] #60 closed

[2015-07-15 20:39] anholt commented on #49
Fixed in b9fbcaf0e280b990d984899a2809eaacfc0391e2

[2015-07-15 20:39] #49 closed

[2015-07-15 20:40] #37 closed

[2015-07-15 20:46] anholt commented on #36
I note that the gdb indicates that you've got both mesa libEGL and nvidia binary drivers loaded at the same time, and this will surely go badly.  Has GTK mixed up their initialization, or made multiple contexts from different drivers?

[2015-07-15 20:48] anholt commented on #36
The only way this could be our fault is if GTK is doing things with only for of GLX and EGL, and epoxy is erroneously loading the other.  You'd want to break on the dlopen() inside of get_dlopen_handle() to see when the loads of the two libraries are happening.

[2015-07-15 20:52] anholt commented on #33
Fixed by 85e5100d673bba0945fa097966160720a1f86a36

[2015-07-15 20:52] #33 closed

[2015-07-15 21:01] anholt commented on #25
I keep seeing this bug when I go to look at epoxy stuff, and I still haven't figured out what you're saying we're doing wrong.

[2015-07-15 21:02] anholt commented on #31
(no response, appears to be just a bad build environment)

[2015-07-15 21:02] #31 closed

[2015-07-15 21:09] #39 closed

[2015-07-15 21:09] #47 closed

[2015-07-15 23:11] #46 closed

[2015-07-16 01:13] anholt commented on #59
Released.

[2015-07-16 01:13] #59 closed

[2015-07-16 01:15] anholt commented on #48
I'm not supporting building partial versions of the library in the build system.  libepoxy doesn't depend on EGL or GLX after build.

The new releases are built using make distcheck.  I think using un-version-controlled scripts distributed with tarballs is nuts, but apparently people like to do that.

[2015-07-16 01:15] #48 closed

[2015-07-16 01:16] anholt commented on #43
It looks like maybe you've got a python error, except that it looks truncated somehow?  It doesn't make any sense to me.

[2015-07-16 01:16] anholt commented on #40
Is there something that should be pulled for this bug report?

[2015-07-16 12:37] nacho commented on #36
So things seem to have improved over time. Now it does not seg fault but I get this error:
    errx(1, "Couldn't find current GLX or EGL context.\n");

[2015-07-16 13:03] nacho commented on #36
Checking at the code I see that you try to see if it should use GLX or EGL depending on the GetCurrentContext method. But for what I can see it is not calling MakeCurrentContext before that call. And from the docs it should return NULL as it is the case. Maybe I am missing something?

[2015-07-16 13:55] nacho commented on #36
After fixing the driver I am on a similar state as I was at the beginning

#0  0x0000000000000000 in ?? ()
#1  0x00007ffff3c27165 in epoxy_glXGetProcAddressARB_global_rewrite_ptr (
    procName=0x7ffff3c30d10 <entrypoint_strings+21648> "glGetStringi")
    at glx_generated_dispatch.c:1278
#2  0x00007ffff3bdb40e in epoxy_get_proc_address (
    name=0x7ffff3c30d10 <entrypoint_strings+21648> "glGetStr

[2015-07-16 13:58] nacho commented on #36
and the initial libraries:
Program received signal SIGSEGV, Segmentation fault.
0x0000000000000000 in ?? ()
Missing separate debuginfos, use: dnf debuginfo-install bzip2-libs-1.0.6-14.fc22.x86_64 dbus-libs-1.8.18-1.fc22.x86_64 expat-2.1.0-10.fc22.x86_64 fontconfig-2.11.94-1.fc22.x86_64 freetype-2.5.5-1.fc22.x86_64 gmp-6.0.0-9.fc22.x86_64 gnutls-3.3.15-1.fc22.x86_64 keyutils-libs-1.5.9-4.fc22.x86_6

[2015-07-16 14:48] nacho commented on #36
So I've found the reason of the crash. While it is in our side it is still strange what epoxy is doing. It is using glXGetProcAddress to look for glXGetProcAddress.

[2015-07-16 18:09] anholt commented on #36
Have you not made a context current before calling GL functions?

[2015-07-16 19:28] nacho commented on #36
So there were a couple of problems on our driver. First that we did not support a extension so gdk was failing to create the context, so the error in epoxy was actually correct. The second is that we were getting the backtrace because for some reason epoxy tries to get glXGetProcAddress by using glXGetProcAddress to get the address to that method and we were not handling that case properly. I thin

[2015-07-16 20:08] anholt commented on #36
The backtrace wasn't showing what you're saying about glXGPA using glXGPA.  Note that glXGPA is different from glXGPAARB.  glXGPAARB is libGL ABI, while glXGPA is 1.4, and thus must be looked up using glXGPA.

[2015-07-17 06:50] nacho commented on #36
Yeah, the stack trace was kind of hiding the real problem. Thanks for the comments, I guess we can close this now.

[2015-07-17 06:50] #36 closed

[2015-07-19 18:43] dbevans opened #63 "Restore OS X support for GLX as an option"
As the principal maintainer of the GNOME ports for MacPorts, I'd like to indicate my extreme disappointment with your decision to drop GLX support for OS X in version 3.0.  X11 on OS X and GLX in particular (using mesa) is alive and well in MacPorts and is required, in general, to fully support GNOME due to the spotty support for OS X in the GNOME applications.  I'd like to suggest that you restor

[2015-07-20 18:15] anholt commented on #63
Yeah, it sucks, but just as many people were saying they couldn't use the library because the build depends were to onerous.  At this point I don't even have a Mac to test on, though, so I can't do much.  What I'd love to see as a solution is a header included in the library that is just enough to generate the couple of calls we need, without needing libX11 at build time.

[2015-07-20 23:22] dbevans commented on #63
Well, that's why I say make it optional.  Then everyone can 'have it their way'.

The focus of MacPorts is to make Linux/Unix software available on the Mac, and many of these require X11 of course.  So, for instance, we give people the option to build GTK+ with either X11 or the native Quartz environment where it can be supported.  We currently support GTK+ 3.16.5 with either X11 or Quartz backend

[2015-08-02 06:05] RobotCaleb opened #65 "How to build on windows"
The latest release doesn't appear to include prebuilt binaries and I can't figure out the right voodoo as a windows developer to build this.

[2015-08-02 10:27] yaronct commented on #65
@RobotCaleb: I've made a pull request, adding makefiles and instructions for building with MSVC 2013, and fixing compiler errors and warnings (#62). Till it's merged, u can try to pull the changes from [my fork](https://github.com/yaronct/libepoxy) (branch "v1_stable"), which also contains a few bug fixes, especially for Windows.

[2015-08-03 18:04] RobotCaleb commented on #65
@yaronct Thanks. I checked it out. I'm using VS2015 so I had to add a block to `detectenv-mscv.mak`
[code]

That allowed it to try to build.
It tried to include files from a `EGL` folder, but I don't have such a folder.

[code]

[2015-08-03 18:18] yaronct commented on #65
@RobotCaleb: Sorry, you're right. Currently in order to build u must have EGL installed, which you can get [here](http://community.imgtec.com/developers/powervr/graphics-sdk/). I will fix it so that it's possible to build on Windows without EGL support.

Currently u can just change in "dispatch_common.h" the lines:

    #ifdef _WIN32
    #define PLATFORM_HAS_EGL 1
    #define PLATFORM_HAS_GLX 0

[2015-08-03 19:23] RobotCaleb commented on #65
@yaronct: Okay, disabling EGL and deleting from Makefile.vc got it to build. Thanks

I'm installing EGL stuff you linked to try with that, too. Do I need the installation path for it on my PATH or is the path to EGL stuff set somewhere?

[2015-08-04 08:15] yaronct commented on #65
In the installer, u don't have to check everything: Enough to check "PowerVR Tools -> PVRVFrame" and "PowerVR SDK -> Native SDK". Now, assuming u installed in the default location (feel free to change it), which is "C:\Imagination\PowerVR_Graphics\PowerVR_Tools" for the tools and "C:\Imagination\PowerVR_Graphics\PowerVR_SDK" for the SDK, u need to add to the compilation line in src/Makefile.vc:

/

[2015-08-11 06:30] Nephatrine commented on #65
You're also free to check out [my fork](https://github.com/Nephatrine/libepoxy) which uses CMake for the build system. It can build successfully in both VC12 (2013) as well as MSYS2+MinGW and the WGL tests look good, though I haven't tried plugging it into a real application yet. I still need to get the CMake build working properly on other platforms, add an install target, and do some more in-dep

[2015-08-23 18:43] yavn commented on #65
@Nephatrine i used your CMake build with MinGW64 and it worked great for what I wanted to test. Thanks!

I mostly use Epoxy on Ubuntu, but it would be awesome to get CMake support into the upstream repo. It really makes things easier when you have to work with multiple platforms.

[2015-08-24 19:22] rofl0r opened #66 "release tarballs should ship a configure script and not depend on autoconf"
autoconf is complex and errorprone (with regard to incompatible versions of m4 scripts etc) and places an additional burden on the end user that wishes to compile sw (plus additional dependencies), so it is common practice to generate the configure script on the developer's machine as part of the "make dist" workflow to ship a release tarball.

[2015-08-26 16:19] Nephatrine commented on #65
@yavn - I'd polish it up a bit and see about submitting a PR, but my changes rely on PR #45 and #52 which haven't been pulled into the main repository yet. If they are objectionable to @anholt , then my fork will be too since I expose the same build options.

[2015-08-26 17:16] yaronct commented on #66
@rofl0r: I've fixed this in [my fork](https://github.com/yaronct/libepoxy). I'm not opening a PR to this repo as I already have one open PR which I opened long ago and hasn't been pulled yet.

[2015-08-26 17:19] yaronct commented on #5
@anholt: I've fixed this dependency in [my fork](https://github.com/yaronct/libepoxy). Now those files are included with Epoxy and I think should work with fine with all platforms. I've not opened a PR for this because I already have one open PR that hasn't been pulled yet.

[2015-08-26 17:25] yaronct commented on #65
@RobotCaleb, @Nephatrine, @yavn: I've also added an option to build Epoxy with CMake in [my fork](https://github.com/yaronct/libepoxy). @Nephatrine: Sorry, I did it before I knew u also had CMake support. Perhaps, at some point, it's worth merging our forks, as I also have several bug fixes (specifically for Windows) and built-in support for building with EGL support ("eglplatform.h" & "khrplatfor

[2015-08-26 17:30] rofl0r commented on #66
@yaronct your fix is to use cmake ? i despise cmake as it's a monstrous piece of software that takes longer to compile than gcc, is written in C++, and cannot create standalone makefiles. it ignores well-established UI standards (--prefix, --without-feature) and forces the user to spend a lot of time figuring out how to deal with it (once he got it to compile).

[2015-08-26 17:31] yaronct commented on #66
@rofl0r: My fork supports both building with autotools ("configure" included, so the user doesn't have to have autotools installed) and building with CMake. U can use whatever u wish.

[2015-08-26 17:38] RobotCaleb commented on #65
I've been using @yaronct build without EGL and it's working for us.

Optimally this isn't accomplished this way in the future, but I'm up and running for now. :)

Thanks

[2015-08-26 17:42] rofl0r commented on #66
@yaronct where can the release tarballs of your fork be downloaded, and is your fork uptodate/compatible ?

[2015-08-26 19:16] yaronct commented on #66
@rofl0r: In [my fork](https://github.com/yaronct/libepoxy), go to "releases", and download the one u want (usually with the highest version number, which is currently "v1.3.1_yaronct-3").

[2015-08-26 20:36] NickNick opened #67 "wglGetProcAdress can't find glGenTextures?"
In my program I have the following code:

[code]

... which has the following output when run under wine

[code]

So after "initialization done" the rest of the program runs, calls glGenTextures somewhere but that returns 0, crashing the program. What may I be doing wrong in this example? If you need more code or clarification please ask.

Thanks in advance,

[2015-08-27 10:03] Nephatrine commented on #65
@yaronct The primary reason I forked in the first place was to support compiling as a static library. If your fork supported that, I'd probably switch to using it. Until then, I'll probably just swipe some of the EGL stuff from your fork. What's the best way to test EGL on Windows though? I've only got nVidia cards and I don't think their Windows drivers have any EGL support (I might be wrong thou

[2015-08-27 16:26] yaronct commented on #65
@Nephatrine: You're right, my fork didn't support static libs. But - it's your lucky day! I've added support for it, specially for u :) And also updated the doc to include instructions how to control building of shared/static libs, and how to install support for OpenGL ES / EGL. Enjoy!

[2015-08-27 18:16] NickNick commented on #67
For easy reproduction, `git clone --recursive https://github.com/NickNick/mxesdlepoxy` and build with MXE.

[2015-08-27 20:12] yaronct commented on #67
@NickNick: Can u reproduce the issue without Wine? (Perhaps in real Windows?) Running stuff in Wine is problematic in general, and I wouldn't wanna start debugging in Wine.

[2015-08-30 02:00] Nephatrine commented on #67
@NickNick - I tested with with my libepoxy build in Windows and it works just fine assuming it is supposed to be a program to induce seizures due to rapid color flashes. I do not suggest maximizing it to fullscreen and staring for any length of time.

[2015-08-30 09:32] NickNick commented on #67
They work, it's not a static build. Perhaps that's the problem? Do I need to take some steps for static builds?

[2015-08-30 15:45] Nephatrine commented on #67
@NickNick - Yes, that is exactly your problem. Epoxy does some magic in DLLMain that isn't initialized in a static build since those don't call DLLMain. [My fork](https://github.com/Nephatrine/libepoxy) does properly work with static builds on Windws 7 and 8 (haven't tested elsewhere). Just call cmake with ```-DBUILD_SHARED_LIBS=OFF``` and it will build the static library.

[2015-09-01 12:26] linkmauve opened #68 "libepoxy tries to use GLX on Wayland when running in apitrace with libGL"
apitrace prints the following message:

[code]

Here is the backtrace from where libepoxy calls `exit()`:

[code]

I originally thought this was an apitrace bug, see https://github.com/apitrace/apitrace/issues/380

[2015-09-01 13:33] jrfonseca commented on #68
`epoxy_current_context_is_glx`'s code looks brittle: it invokes `dlsym(NULL, "glXGetCurrentContext")`, but instead of using that symbol directly, it invokes its version of `glXGetCurrentContext` which might do something different.

I suspect that what's happening here is that:
- libGL.so is being loaded, so `dlsym(NULL, "glXGetCurrentContext")` is non-null
- epoxy_glXGetCurrentContext_resolver inv

[2015-09-04 08:03] yaronct commented on #68
@linkmauve, @jrfonseca: Could u plz try [my fork](https://github.com/yaronct/libepoxy) (branch "master") and tell me if the problem is there too? I've fixed some bugs in my fork, specifically for EGL, and I have the feeling that your problem won't exist there. I'm not even openning a Pull Request for them because I have a very old open Pull Request here that hasn't been pulled yet. If there's stil

[2015-09-04 08:05] yaronct commented on #68
@jrfonseca: I don't think there's a problem with trying to automagically detect which API is used. True - EGL is sometimes implemented on top of GLX (or other), but if u first try to detect EGL (rather than GLX) then it should work. That's what I do in my fork.

[2015-09-05 04:37] RobotCaleb commented on #65
@yaronct maybe I didn't call it right, but I couldn't figure out how to `clean`

Also, could you set it up to build to a bin folder or such?

[2015-09-05 07:43] yaronct commented on #65
@RobotCaleb: [My fork](https://github.com/yaronct/libepoxy) now supports building with CMake, as well as building and running tests. Plz use it (checkout "master" branch). The "README.md" contains instructions how to build with CMake. Once you use CMake, you build the solution inside Visual Studio, and then everything will be built in the right directories, and also cleaning the solution should be

[2015-09-21 16:08] chadversary commented on #25
The problem is that [epoxy_egl_get_current_gl_context()](https://github.com/anholt/libepoxy/blob/d4620b7dd30e5cd398e10d8d5fb0e25f4cc65817/src/dispatch_common.c#L570) incorrectly returns `EGL_OPENGL_API` instead of `EGL_OPENGL_ES_API` on some implementations. The function's method of determining the current context's API is incorrect.

epoxy_egl_get_current_gl_context() incorrectly assumes that egl

[2015-09-21 17:07] yaronct commented on #25
@chadversary: If all implementations were conformant to the standard, "GL_VERSION" could be the right way. However, in PowerVR OpenGL ES implementation, unfortunately, "GL_VERSION" doesn't return a string starting with "OpenGL ES", so this technique doesn't work.

There's only one more option I can think of (other than let the user set the context type explicitly), which is to use "eglQueryContext

[2015-09-29 07:18] ssbertilson opened #72 "epoxy_glx_version hands NULL to sscanf if no GLX active on display"
[code]

Was presented with libc segfault called by lightdm-gtk-greeter as a result of inability to modload fglrx due to pci_ignore_hotplug being exported GPL.

Maybe there should be an assert here for:
version_string != NULL

[2015-09-29 09:00] yaronct commented on #72
@ssbertilson: This repository doesn't seem active lately, but I'v fixed it in [my fork](https://github.com/yaronct/libepoxy), if you're interested. Thanx for pointing out this problem.

[2015-10-21 08:57] jku opened #73 "should have api to safely query GL library existence"
I'm not totally sure where this issue should be fixed but here's the problem:
- GTK+ considers epoxy something they can depend on unconditionally without worrying about the GL implementation
- Installing GTK+ on systems without OpenGL is possible (dependency on epoxy is still there but not really a problem since epoxy is small and doesn't depend on much)
- running GTK+ applications is a problem: G

[2015-10-28 15:31] nwnk commented on #43
It's not truncated. The bug is that's not legal syntax in python 2.6.

[2015-10-28 15:38] nwnk commented on #43
Something like this gets it to build on RHEL6.7, though obviously can't be merged as-is since it drops the wgl and gles bits.

[code]

[2015-10-31 12:15] sesse commented on #68
Hi,

I tried the fork in question, and it doesn't make any change. With apitrace trace --api ./program, I still get:

apitrace: loaded into /usr/local/bin/apitrace
apitrace: unloaded from /usr/local/bin/apitrace
apitrace: loaded into /home/sesse/dev/program/program
apitrace: tracing to /home/sesse/dev/program/program.1.trace
apitrace: attempting to read configuration file: /home/sesse/.config/apit

[2015-10-31 12:16] sesse commented on #68
Oh, and for me, this isn't Wayland—it's regular X11. (But I need EGL.)

[2015-10-31 12:24] sesse commented on #68
Hm, I looked into it some more. It seems some other code was actually at fault here, so with the fork, it _does_ work (after that fix in non-epoxy code).

[2015-10-31 16:14] yaronct commented on #68
@sesse: :)

[2015-10-31 16:25] sesse commented on #68
Well, you could argue perhaps it's epoxy… my code needs to get some sort of identifier for the current context (to know where it can share FBOs) and does:

        void *ret = (void *)glXGetCurrentContext();
        if (ret != NULL) {
                return ret;
        }
        return (void *)eglGetCurrentContext();

The first call makes the entire code exit. And I don't know of any other way of

[2015-10-31 17:04] yaronct commented on #68
OK is **is** a problem with Epoxy, because when u call "glXGetCurrentContext()", if resolving the function fails, it crashes. I'm working on a workaround.

[2015-10-31 19:05] yaronct commented on #68
@sesse: Ok, first of all, your logic is problematic, coz as @jrfonseca has pointed out, EGL may b implemented on top of GLX. Therefore, u should first try "eglGetCurrentContext" and only if it returns null go for glXGetCurrentContext.

Now, that still won't work, because when u call e.g. "eglGetCurrentContext" and resolving it fails, Epoxy crashes. I'm working on a workaround for that. In the mean

[2015-11-12 10:23] lbssousa opened #76 "epoxy_gl_version() giving wrong results for LLVMpipe?"
I'm palying with my [xf86-video-nested](../../../lbssousa/xf86-video-nested) fork, now trying to port current Xephyr implementation for GLAMOR support. I can make my driver load module `glamoregl`, required for calling function `glamor_init()`, but my nested Xorg always fails with the following message:

[code]

My nested Xorg, like Xephyr, uses LLVMpipe software driver for OpenGL. Running `glxinf

[2015-11-13 11:18] lbssousa commented on #76
Possible duplicate of #72

[2015-11-13 11:30] yaronct commented on #76
@lbssousa: Could u try [my fork](https://github.com/yaronct/libepoxy) (branch "master")?

[2015-11-20 22:19] esacree opened #77 "libEpoxy crashes in Windows in Release mode due to CONSTRUCT macro not being called."
I'm trying to use libEpoxy 1.3.1 (using the epoxy1.dll) on Windows 10.  As recommended, I built the download using CMake 3.4.0 to generate the Visual Studio 2015 solution and projects.  I have the code compiling and linking in both Win32 and x64 on Windows.   Debug 32 bit and 64 bit both run my application fine.

However, both 32-bit or 64 bit Release mode will crash as soon as the first wglCreate

[2015-11-20 23:47] codekiddy2 commented on #77
Hi esacree!
Where did you get CMAKE build configuration for libepoxy-1.3.1 ??
Please let me know, so that can download it and fix the problem, I have Visual Studio solution for libepoxy-1.2 that works fine for release builds, so we can exchange my configuration for yours.

what say you?

[2015-11-21 00:54] esacree commented on #77
Hi,

I’ve just been looking at switching from GLEW to Epoxy for the last 2 days.  I believe that I got the CMAKE text files from the link to the fork mentioned on this thread:

https://github.com/Nephatrine/libepoxy

https://github.com/Nephatrine/libepoxy/blob/master/CMakeLists.txt

I’ve attached the file.

I downloaded the standard CMAKE 3.4 installation from the site https://cmake.org/download/

[2015-11-21 02:00] codekiddy2 commented on #77
Oh, thanks so much!!

I'll generate a solution with CMAKE, and see how it goes here.

I got modified libepoxy-1.2 from Fan Chun-wei's tutorial site, and created a VS 2015 solution for that package, you can try and see if that works.

It's also possible to build without VS solution, (ex. from command line)

Site:
https://wiki.gnome.org/action/show/Projects/GTK+/Win32/MSVCCompilationOfGTKStack?actio

[2015-11-21 02:49] codekiddy2 commented on #77
I *think* I solved the issue (any corrections are very much welcome)

Here is what I did:

Opened Visual Studio x64 native cmd prompt
ran cmake-gui from cmd prompt.
configured and generated for release x64.
build solution and run test project one by one.

ALL TEST PROJECTS CRASHED.

Here is what I did to make them work:

set compiler optimization to *disabled* ( it was /O2 )
for both static and dl

[2015-11-21 03:51] esacree commented on #77
Yes!  I turned off the O2 compiler optimization in Release mode and the CONSTRUCT macro is now being executed in both Release builds.

I had already turned off the Link Time optimization and whole program optimization, but those changes did not solve it.

It’s a Microsoft Visual Studio 2015 compiler optimization bug.  I haven’t seen one of those for a while.  I will file a report with Microsoft.

[2015-11-21 15:39] codekiddy2 commented on #77
Hi,
I "redesigned" solution made by cmake for my needs, in addition I have also run tests as much as possible.

result is as follows:
It's not only that optimization must be set to "disabled" but also LTCG flag must turned off for both static and shared libepoxy build types.

Test projects can retain /O2 and /LTCG.

This must be either some bug with compiler optimization, or there is a bug with th

[2015-11-21 17:10] esacree commented on #77
I logged a bug with Microsoft Visual Studio 2015 this morning.

The problem is likely to be a Compiler/Linker Optimization bug since it works in Debug with no optimization but does not work in Release mode with optimization.

If a basic CONSTRUCT macro doesn’t work, it could be causing issues for other users as well.  Perhaps it will get fixed, eventually.

Thanks again for your help!

From: codek

[2015-11-22 00:40] esacree opened #78 "Epoxy crashes if the code tries to call either wglChoosePixelFormatARB or wglCreateContextAttribsARB"
The Epoxy function pointers for those 2 functions are always NULL, which causes the crash.

Is there any limitation on calling either wglChoosePixelFormatARB or wglCreateContextAttribsARB from  epoxy on Windows?   Calling wglGetProcAddress directly to look up these function pointers works.  Calling those 2 functions with the function pointers returned from wglGetProcAddress works.   It just doesn'

[2015-12-02 13:06] elmarco commented on #37
The problem I have is better described by #68. My workaround is to disable some PLATFORM_HAS_GLX, and enable PLATFORM_HAS_EGL in other places. Ideally, this would be dynamic instead.

[2015-12-05 15:42] esacree opened #79 "Microsoft Visual Studio response to issue with CONSTRUCT macro crashing in Release mode on Windows"
I logged the issue with Microsoft on the CONSTRUCT macro crashing in Release Mode on libEpoxy built with Visual Studio 2015.  Here's the response I received:

Greetings from Microsoft Connect!

This notification was generated for feedback item: Visual Studio 2015 C++ Compiler Optimization Bug - Release Build CONSTRUCT macro not executed - works in DEBUG Build which you submitted at theMicrosoft Co

[2016-01-18 17:23] jeremyhu commented on #63
The version in MacPorts doesn't work with mesa/X11 currently.  I was looking into this today, and part of the problem is that epoxy_get_bootstrap_proc_address calls epoxy_gl_dlsym() instead of epoxy_glx_dlsym() for the GLX API support.

<pre>
void *
epoxy_gl_dlsym(const char *name)
{
#ifdef _WIN32
    return do_dlsym(&api.gl_handle, "OPENGL32", name, true);
#elif defined(__APPLE__)
    return do_d

[2016-02-05 01:21] tele1 opened #82 "XORG_TESTSET_CFLAG"
From ./configure libepoxy 1.3.1

[code]

all log
http://wklejto.pl/247119
System PCLinuxOS 64bit

What it is ? From x11-util-macros ?

Edit:
It looks, because update x11-util-macros 1.15.0 to 1.19.0 helped :-)

[2016-02-14 11:12] agebrock commented on #5
Does not work for me ..

[2016-08-19 07:44] prlw1 opened #85 "Specific shared library numbers are too restrictive"
I see in dispatch_common.c that you have
'''
#ifdef ANDROID
#define EGL_LIB "libEGL.so"
#define GLES1_LIB "libGLESv1_CM.so"
#define GLES2_LIB "libGLESv2.so"
#else
#define EGL_LIB "libEGL.so.1"
#define GLES1_LIB "libGLESv1_CM.so.1"
#define GLES2_LIB "libGLESv2.so.2"
#endif
'''
In other words, if on android, don't specify the major number, but otherwise do.

Maybe that should be, when on linux, spec

[2016-08-19 19:09] yaronct commented on #85
@prlw1: This repository of Epoxy seems to b currently no longer maintained. I try to maintain a [fork](https://github.com/yaronct/libepoxy) of Epoxy - other than being maintained, it also contains a number of bug fixes and improvements, notably it can be built as a static or shared library using cmake, including running tests, and doesn't depend on `eglplatform.h` or `khrplatform.h`. If you're wil

[2016-09-17 18:13] lygstate opened #87 "Support for loading angle under win32."

[2016-09-19 08:14] yaronct commented on #87
@lygstate: This repository of Epoxy seems to b currently no longer maintained. I try to maintain a [fork](https://github.com/yaronct/libepoxy) of Epoxy - other than being maintained, it also contains a number of bug fixes and improvements, notably it can be built as a static or shared library using cmake (while retaining autotools support), including running tests, and doesn't depend on `eglplatfo

[2016-10-07 23:30] andreislavoiu commented on #25
That workaround for PowerVR needs to be reworked, as currently any spec compliant egl implementation that supports both Desktop OpenGL and OpenGL ES is broken with epoxy. Take for example the following test program:
[code]
When ran with mesa it will print:

eglinfo:

es2_info:

[2016-10-08 09:50] andreislavoiu commented on #25
Suggested patch:

[code]

The idea is if epoxy_egl_get_current_gl_context_api can determine it is a GL ES context trust it, otherwise rely on version string comparison. Should leave the behavior on PowerVR as is now while fixing mesa (tested that it actually does).

[2016-10-08 11:29] yaronct commented on #25
@andreislavoiu: Thanx for raising the issue and suggesting a patch! Note that this repo of Epoxy is no longer maintained. I try to maintain a [fork](https://github.com/yaronct/libepoxy) of Epoxy. If u can open a pull request to my fork it'll b highly appreciated!

[2016-10-08 12:21] andreislavoiu commented on #25
@yaronct I gave you fork a try and it doesn't need any patching. I believe this [commit](https://github.com/yaronct/libepoxy/commit/8d58c890646fc1f43bcab702bb9ed6bae94daefe) fixes it the proper way.

[2016-10-08 12:26] yaronct commented on #25
@andreislavoiu: That's great! I really didn't feel like delving again into that s*** :)

Note that my fork, other than being maintained, also contains a number of bug fixes and improvements, notably it can be built as a static or shared library using cmake (while retaining autotools support), including running tests, and doesn't depend on `eglplatform.h` or `khrplatform.h`. If u do encounter any f

[2016-10-10 15:37] aponomarenko opened #89 "ABI report for libepoxy"
Hello,

Please take into account the ABI changes analysis report for the libepoxy library: https://abi-laboratory.pro/tracker/timeline/libepoxy/

Hope it will be helpful for users and maintainers of the library.

Thank you.

[2016-10-18 15:18] chadversary commented on #25
@nwnk submitted a fix as https://github.com/anholt/libepoxy/pull/90

[2016-10-18 18:57] yaronct commented on #25
@chadversary, @nwnk: I can't understand what drives u to open a pull request to an unmaintained repository, but it's your choice..

[2016-10-18 19:21] nwnk commented on #25
@yaronct Partly force of habit, partly because I actually know anholt and am hoping to shame him into either merging the various branches and doing another release or delegating ownership.

[2016-10-18 19:24] yaronct commented on #25
@nwnk: Oh, either would b great, I hope he's shamed enough :laughing:

[2016-11-04 15:21] DeadSix27 opened #91 "Is there a way to cross-compile this using mingw64?"
Version is from git master, newest commit: https://github.com/anholt/libepoxy/commit/15898325c1b3610dba737c311a33b28d83e343c7

Got it to configure just fine:
[code]

Steps:
touch configure.ac aclocal.m4 configure Makefile.am Makefile.in `Saw this recommended in another issue, since I have aclocal-1.15 and not aclocal-1.14`
./configure --host=x86_64-w64-mingw32 --prefix=/toolchain/cross/mingw-w64-x

[2016-11-04 16:04] yaronct commented on #91
@DeadSix27: The way that I recommend to build Epoxy now is using cmake (you'll have to use branch `master` though, not a release). I've tested MinGW-w64 targetting x86 / x64 and they work fine. If u still encounter problems plz report them.

[2016-11-28 19:49] Claghorn commented on #72
It is 2016 now, and this crops up in fedora24. I had to build from source and fix several places to check for NULL pointers to be able to run some gtk3 programs under x2go (which has no GL).

See: https://bugzilla.redhat.com/show_bug.cgi?id=1395366

[2016-11-28 23:09] yaronct commented on #72
@Claghorn: Have u tried branch `master`?

[2016-11-28 23:19] Claghorn commented on #72
I'm more concerned that whatever version is released in fedora still has the problem than which branch it might be fixed on. It was simple enough to add my own fixes. I have no idea where fedora is getting the one they build (and there hasn't been any response to my fedora bug report, so I'm not sure anyone is paying any attention).

[2016-11-28 23:28] yaronct commented on #72
@Claghorn: I'm sorry that the bug still persists in the latest Epoxy stable version. Epoxy has indeed not been maintained for quite some time due to @anholt's lack of time. I've been recently become collaborator in this repository and do my best, with my limited time, to go over the issues and pull requests and make a new release. Then, gradually, distributions will update their packages and bugs

[2016-11-28 23:38] Claghorn commented on #72
I don't think I need to build it, just glancing at the source shows it getting version_string from a GL query and passing it directly to sscanf with no NULL check. That may well be the version fedora is using (master seems like a likely branch for them to pick up). If so, the patch in my fedora bugzilla should apply:

https://bugzilla.redhat.com/show_bug.cgi?id=1395366

[2016-11-28 23:43] yaronct commented on #72
@Claghorn: Do u mind openning a pull request here?

[2016-11-29 12:28] Claghorn commented on #72
I'm afraid I have no idea what a pull request is, and visiting the pull request link didn't provide any enlightenment.

[2016-11-29 14:24] yaronct commented on #72
@Claghorn: Pull requests are the standard way to contribute to a project in github. 1st, u have to learn git, which is a VCS (version control system). Then u make the changes locally on your computer, then open a pull request on github, which means a request to merge your changes into the main libepoxy development branch. All that isn't strictly necessary, however it makes everything easier, is hi

[2017-01-20 18:25] smcv commented on #73
We're hitting this on Debian, including now the installer (!), so I'm going to put a patch together. I spoke to @ebassi on IRC and he said this would be useful to have.

Proposed APIs:

[code]

[2017-01-20 18:29] ebassi commented on #73
More something like:

[code]

which would automatically check for GLX, WGL, AppleGL, or EGL, depending on the platform. Checking for GLES1, 2, 3 is already covered by `epoxy_is_desktop_gl()` and `epoxy_gl_version()`.

[2017-01-20 18:37] smcv commented on #73
How do we know whether a non-Mac Unix caller wants GLX or EGL? (On Linux/*BSD/etc. you use GLX for X11, but EGL for Wayland/Mir/misc, right?)

[2017-01-20 21:54] smcv commented on #73
To put this another way: what Gtk needs to know is whether glXQueryExtension() is going to work. If you are running under X11, and for some reason you have EGL drivers (Debian: libegl1-mesa) but not GLX (Debian: libgl1-mesa-glx), then a check for "do we have platform GL?" is going to succeed, but  glXQueryExtension() would still make Gtk exit abruptly.

[2017-01-20 22:18] kapouer opened #96 "Segfault when no GL available on X server"
Hi,
i'm reporting here a patch proposed downstream in fedora:
https://bugzilla.redhat.com/show_bug.cgi?id=1395366
and its (reverse !) patch here:
https://bugzilla.redhat.com/attachment.cgi?id=1221160

Care to comment and/or apply it to master ?

[2017-01-27 18:17] yaronct commented on #73
@smcv, you're right, we can't know which API is used to create an opengl context. So I think we have to b queried for something specific like "do we have api XXX?".

What then would b your requirements for gtk as for "XXX"? GLX? OpenGL?

[2017-01-27 19:28] smcv commented on #73
At the moment GTK itself only needs to know whether `glXQueryExtension()` is going to crash the process, so `epoxy_has_glx()` or similar. Expected result: if there is `libGL.so.1` and we can dlopen it and we can get version information or whatever, return true; if not, return false; under no circumstances, call exit() :-)

For an application that actively **uses** GL, you know how the GL APIs brea

[2017-01-27 19:39] yaronct commented on #73
@smcv: As I no longer have write access to this repo, you'll have to work it out with other ppl now, sorry.

[2017-01-30 12:01] ebassi commented on #72
The issue has been fixed in master by commit a15a92c2cbe0a8f45a1ff6258b22957c17c7118e — now Epoxy won't try to access `NULL` strings.

Thanks for your bug report!

[2017-01-30 12:01] #72 closed

[2017-01-30 12:02] ebassi commented on #96
Hi, thanks for your bug report!

The issue has been fixed in the master branch by commit a15a92c2cbe0a8f45a1ff6258b22957c17c7118e.

Feel free to re-open it if you can reproduce it again with a newly built Epoxy.

[2017-01-30 12:02] #96 closed

[2017-01-30 12:09] ebassi commented on #91
Hi @DeadSix27.

Epoxy has now a build system based on [Meson](http://mesonbuild.com). It comes with a cross-compilation file for Windows using the Fedora mingw64 presets. Just use:

[code]

and you should get a static build of Epoxy. If you use `--default-library shared` you'll get a shared library build, instead.

If you don't use Fedora, you can look at the cross-file in the Epoxy repository and

[2017-01-30 12:11] ebassi commented on #89
Is there anything actionable in this bug report, outside of going to that web page?

Since Epoxy generates its API from the Khronos XML descriptions, there's not much we can do for ABI breakage involving those.

[2017-01-30 12:11] #89 closed

[2017-01-30 12:12] ebassi commented on #82
Closing, as per edited comment.

[2017-01-30 12:12] #82 closed

[2017-01-30 12:26] ebassi commented on #85
The name of the shared objects is defined in the [OpenGL ABI specification](https://www.opengl.org/registry/ABI/). I have no idea why NetBSD seems to think that bumping the soname is a good thing, especially to a number that does not exist in any [additional specification](https://www.khronos.org/registry/implementers_guide.html#uncontrolled) for unvendored platforms. I would strongly recommend to

[2017-01-30 12:28] ebassi commented on #78
`wglCreateContext` will use the ARB variants, if they are defined. If you get a crash it would imply that you don't have access to those — i.e. they are not defined in the OpenGL implementation you are using.

[2017-01-30 12:28] #78 closed

[2017-01-30 12:37] ebassi commented on #76
The parsing code definitely detects `3.0 Mesa 10.3.2` as version 30 — i.e. (3, 0).

Issue #72 has also been fixed in the meantime.

Feel free to re-open if this happens with a build of Epoxy from a recent commit on the master branch.

[2017-01-30 12:37] #76 closed

[2017-01-30 13:03] ebassi commented on #25
Merged #90 in master, so I think we can close this.

[2017-01-30 13:03] #25 closed

[2017-01-30 18:26] codicodi opened #102 "Can't build with Visual Studio"
I'm trying to build current master with the new meson-based system.
First issue was `find_program('python3')`. On Windows python executable is usually called just 'python', so I removed the '3' from the script and it configured correctly (using the currently commented out 'import' solution also works). When trying to build generated `libepoxy.sln ` I got a bunch of errors like this one:
[code]
I'm

[2017-01-30 18:48] codicodi commented on #102
Ah, I see that #100 tries to fix this issue already. Don't mind me then

[2017-01-30 18:48] #102 closed

[2017-02-03 15:19] ebassi commented on #66
Running `make distcheck` with the existing autotools build will generate a distribution tarball with `configure`. I assume the previous releases were snapshots of the Git repository.

For 1.3.2, I plan to do a full dist release.

Thanks for your bug report.

[2017-02-03 15:19] #66 closed

[2017-02-03 15:25] ebassi commented on #67
@Nephatrine Could you submit a PR for the static build fix, so I can review it?

[2017-02-03 16:23] ebassi commented on #73
@smcv I've opened a new PR after your code review.

[2017-02-03 16:26] ebassi commented on #73
No, that would entirely defeat the point of Epoxy **and** it would make any use of GL through Epoxy incredibly slow.

Checking for windowing system support is enough; if you don't have access to the platform specific API — which is literally only the case with Linux, because [choice](http://islinuxaboutchoice.com) — then you cannot use GL at all. This is enough for dependant libraries and applicat

[2017-02-03 18:40] smcv commented on #73
I don't mean that I want there to be an epoxy_has_glXQueryExtension(), and so on for every function that I might possibly call - yes, that would be silly.

All I'm looking for is that for anything that a library user might want to do, there should be some path of checks that, if followed, guarantee that it won't call exit(1).

If `epoxy_has_glx()` is enough to tell whether `glXQueryExtension()` is

[2017-02-03 20:54] rofl0r commented on #66
oh, this repo is maintained now? glad to hear!

[2017-02-05 19:10] ebassi commented on #73
Yes: if the windowing system API is not available then you cannot create a GL context, which in turn makes it impossible to call any `gl*` API.

Inside GDK, the initialization code for the display connection is also responsible for checking if EGL (on Wayland) or GLX (on X11) are available before any GL calls are performed; if either one returns a negative result, then no GL call is made - thus it

[2017-02-06 16:06] #63 closed

[2017-02-06 16:06] #73 closed

[2017-02-06 16:06] ebassi commented on #43
Is this still an issue, or can we close it?

[2017-02-06 17:21] ebassi commented on #65
In order to build Epoxy on Windows you need:

 * Python 3
 * [Meson](http://mesonbuild.com) — you can use `pip install meson` to install it

You can either generate Visual Studio project files, or use the Ninja backend.

[2017-02-06 17:21] #65 closed

[2017-02-06 17:24] ebassi commented on #40
As no comment was left in the last year and a half, let's close this issue.

Additionally, building Epoxy from Git using [Meson](http://mesonbuild.com) now supports generating Visual Studio project files.

[2017-02-06 17:24] #40 closed

[2017-02-06 17:27] ebassi commented on #87
Does anything need to happen with this issue?

As far as I know, ANGLE just generates DLL files that you can ship in your environment.

@lygstate Could you please explain what do you need?

[2017-02-06 17:27] #91 closed

[2017-02-06 17:29] ebassi commented on #79
This should go in #77 instead of a separate issue.

[2017-02-06 17:29] #79 closed

[2017-02-06 17:31] ebassi commented on #77
Epoxy does not use CMake, and if you create your own alternative build system for Epoxy you're also going to be responsible to handle its failures.

Epoxy 1.4.0 has been released with [Meson](http://mesonbuild.com) support. I strongly encourage you to try building Epoxy with it and Visual Studio.

[2017-02-06 17:31] #77 closed

[2017-02-06 21:19] tmarrinan opened #104 "Meson build - Windows"
Hello.
I am having an issue building with Meson on Windows.

First, when I install Python 3.6 for windows, the executable is python.exe (not python3.exe). When I run `meson.py .. . --backend=vs2015` I get an error saying `Program python3 found: NO`.

I created a symlink from python.exe to python3.exe. This resolved that issue and successfully creates a MSVC solution. However, when building, it has

[2017-02-07 11:45] ebassi commented on #104
Right, this is addressed in #100. I assume you're using a newer version of Meson.

[2017-02-07 13:49] tmarrinan commented on #104
Yes - I am grabbing the latest version of Meson (0.38.0).
I couldn't quite tell from the status of #100 if any solution has been found and integrated into master?

[2017-02-07 13:53] ebassi commented on #104
No, it hasn't yet, but I'm going to work on it ASAP.

[2017-02-08 12:52] ebassi commented on #43
RHEL 6 won't be rebased, and RHEL 7 has Python 2.7, which means `gen_dispatch.py` does not need to be changed.

[2017-02-08 12:52] #43 closed

[2017-02-08 13:02] ebassi commented on #104
I've merged PR #100 which means that you'll need both Python 3 and Python 2 installed in order to build Epoxy.

We cannot really drop the Python 2 requirement because various platforms shipping Epoxy do not have Python 3 — which is also why we are keeping the autotools build.

If you install Python 2 and Python 3, everything should work out of the box. Maybe in the future I'll add a new `gen_dispa

[2017-02-08 13:08] ebassi commented on #9
It should simply be possible to use a destructor function, detect whether we're running under Valgrind by using `valgrind.h`, and free resources if that happens to be true.

[2017-02-08 15:32] tmarrinan commented on #104
Thanks!
I am still however receiving errors during my build. These are the steps I do:
1) clone libepoxy repo
2) make directory 'build' inside libepoxy repo
3) download meson 0.38.0
4) run `meson.py .. . --backend=vs2015`
5) run `msbuild /t:Build /p:Configuration=debugoptimized /p:Platform=Win32 libepoxy.sln`

I have done this with only Python 2.7 in my path, only Python 3.6 in my path, and both 2

[2017-02-08 15:42] ebassi commented on #104
Seems like a symbol visibility issue; I cannot reproduce it when cross-compiling, so it could be an issue that is exposed because of some missing compiler flag.

It would be helpful if you could attach a build log to the issue.

[2017-02-08 15:52] tmarrinan commented on #104
I've attached a sample build output from the msbuild command
[Microsoft Build - Epoxy.txt](https://github.com/anholt/libepoxy/files/761128/Microsoft.Build.-.Epoxy.txt)

[2017-02-08 16:18] codicodi commented on #104
I have similat issue. Static build works though, so I think some symbols are not exported/imported correctly.

[2017-02-08 16:43] ebassi commented on #104
Indeed, it seems we need `__declspec(dllimport)` for the export symbols in the dispatch table on MSVC.

[2017-02-08 17:29] tmarrinan commented on #104
I am still getting the same error after merging the latest into my fork.
@codicodi, could you tell me your build steps? I listed the 5 steps I do to attempt and build libepoxy and was wondering where our processes differ.

[2017-02-08 17:35] tmarrinan commented on #104
In case it matters, here is the output from Meson:
[code]

[2017-02-08 17:46] codicodi commented on #104
Unfortunately latest patch didn't help for me either.
As I mentioned before tests include `config.h`, which defines `EPOXY_PUBLIC` before common.h has a change to define it as dllimport.

[2017-02-08 17:48] ebassi commented on #104
Oh, ouch; I didn't see the `config.h` in the tests. That's not really nice, since `config.h` is meant to be used while building Epoxy itself, and the tests should be testing client code, not internal behaviour. Let's see if I can fix this in a sensible way.

[2017-02-08 17:51] tmarrinan commented on #104
@codicodi, can you still provide your build process? As I am unable to even build a dll (regardless of whether it functions or not), comparing my workflow to yours would be helpful.

[2017-02-08 18:01] codicodi commented on #104
Sure, here you go:
[msbuild-log.txt](https://github.com/anholt/libepoxy/files/761527/msbuild-log.txt)
[meson-config-log.txt](https://github.com/anholt/libepoxy/files/761528/meson-config-log.txt)

[2017-02-08 18:05] ebassi commented on #104
@codicodi I've updated the WGL tests, which were the only ones that included `config.h`, to not include the header any more.

[2017-02-08 18:49] codicodi commented on #104
Cool, it builds for me now. Many thanks!

[2017-02-08 19:47] tmarrinan commented on #104
Yup - working for me too!

[2017-02-08 19:47] #104 closed

[2017-02-20 09:12] acterhd opened #105 "Windows - can not set install dir"
Hello. I tried Meson set `--prefix`, but this is not working. When I installing, meson forcely install to `c:/` independly what arguments I setted. This is works under Linux, BUT NOT WINDOWS.

[2017-02-20 11:28] ebassi commented on #105
I'm pretty sure `--prefix` works, because it's used as part of the continuous integration on Appveyor, e.g.:

[code]

which results in the files installed in:

[code]

Additionally, Meson itself checks the behaviour of the `--prefix` command line under CI.

[2017-02-20 11:28] #105 closed

[2017-02-20 11:37] acterhd commented on #105
My meson installed to userdata local appdata program.... folders with python, and every need locate.

[2017-03-03 14:34] ferry- opened #106 "gl prototypes aren't surrounded by extern "C" and so fail to link to c++ code"
Since commit 0625a74d69f762df8d411bc0451927424aee1f2c where the EPOXY_BEGIN/END_DECLS were introduced, include/gl.h contains the lines

[code]

This causes the epoxy specific prototypes to be surrounded by extern "C",  but not the OpenGL prototypes from include/gl_generated.h. Is this by design? It causes my C++ code to fail to link (windows, msvc 2015).

My fix was to swap the first two lines quo

[2017-03-03 14:39] ebassi commented on #106
Mmh, it was definitely not intended, but I'm also not entirely sure the original behaviour was intended either.  :-)

[2017-03-03 14:44] ebassi commented on #106
A workaround would be to add the C++ guards around `#include <epoxy/gl.h>` and friends.

[2017-03-03 14:53] #106 closed

[2017-03-03 20:25] tschoonj opened #108 "meson: add library versioning?"
Hi,

I maintain the `libepoxy` formula in Homebrew. After yesterday's release I decided to give the new meson build system a [try](https://github.com/Homebrew/homebrew-core/pull/10566), but noticed that the produced dylib is not versioned. This is a bit of a problem, as it breaks our gtk+3 binaries, and all packages that depend on it.

The configure script based install produces:

[code]

with lib

[2017-03-03 20:30] ebassi commented on #108
Hi; thanks for the bug report.

We currently set the [`version`](https://github.com/anholt/libepoxy/blob/master/src/meson.build#L82) field of the shared library to `0.0.0`, as libepoxy has not been using a versioned shared library since its inception - see also: #1 for a bug about adding per-symbol versioning with GNU libc to counter this.

On Linux, Epoxy generates a `libepoxy.so.0.0.0` file, wit

[2017-03-03 20:33] ebassi commented on #108
@tschoonj Could you try adding a `soversion: 0` field after the `version` one in the file I linked above?

[2017-03-03 21:19] ebassi commented on #108
It turns out that Meson intentionally strips the version from the filename; see mesonbuild/meson#680 — which was introduced because of the linker's inability to find the unversioned shared library, i.e. `-lfoo` and `-lfoo.0` are different.

The [Apple documentation](https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/DynamicLibraries/100-Articles/DynamicLibraryDesig

[2017-03-04 07:53] nirbheek commented on #108
I was going to work on this a few months ago but I forgot about it. Looking into it now on https://github.com/mesonbuild/meson/pull/1445.

[2017-03-04 08:03] tschoonj commented on #108
@ebassi The `soversion` field does not make a difference unfortunately.

@nirbheek many thanks for looking into this

[2017-03-06 18:20] ebassi commented on #108
@tschoonj Indeed; Meson 0.39.0 was released over the weekend, and it should now use the `version` field to create versioned shared objects. Could you please re-test it?

[2017-03-06 20:32] tschoonj commented on #108
I have retested the build with the new meson version.

The good news:

[code]

The bad news:

[code]

[2017-03-06 23:52] ebassi commented on #108
@tschoonj I assume you compiled GTK+ 3 against libepoxy built using autotools, and then rebuilt libepoxy with Meson? Or did you re-build GTK+ 3 against a newly built libepoxy and that would still fail?

I'm not really sure from where the linker plucks out `1.0.0`, considering nothing inside the libepoxy build system (both autotools and Meson) sets it; we actually set `0.0.0` everywhere.

[2017-03-07 08:11] tschoonj commented on #108
Your initial assumption is correct indeed: my plan is to upgrade to the meson-built libepoxy in Homebrew in a way that does not require me to update all software packages that depend on it through gtk+3.

Here is the output of `otool -L` for both libepoxy's

* autotools:
[code]

* meson
[code]

By the way, I noticed that the autotools build does not set the libtool version explicitly using `-versi

[2017-03-07 11:37] ebassi commented on #108
So I guess I'll have to add `-version-info=1` on macOS myself, since there's really no reason for the build system to infer it.

[2017-03-07 11:51] ebassi commented on #108
On second thought, it seems that this is a bug of libtool on macOS. Inside `libepoxy.la` generated via autotools/libtool, I see:

[code]

which are the default values and map to `-version-info=0:0:0` (a valid value). I guess autotools adds `-compatibility_version` and `-current_version` of its own volition, regardless of `-version-info`.

[2017-03-07 12:24] tschoonj commented on #108
From an autotools generated libtool file:

[code]

So it appears to increment the version by one because of some (possibly already solved) problem on macOS...

[2017-03-07 12:25] tschoonj commented on #108
Perhaps meson should follow the exact same behaviour?

[2017-03-07 12:43] ebassi commented on #108
Well, it seems that a compatibility version of 0 and a current version similarly set to 0.0 are acceptable values, these days, since shared libraries built through Meson have them. :-)

You probably cannot pass `-current_version 0 -compatibility_version 0`, though. The reason for libtool to do something different may be very well lost in the mists of time, never to be recovered.

[2017-03-07 12:51] tschoonj commented on #108
It looks like a legacy thing indeed.

Wouldn't it make sense to fix this in meson by making it follow autotools behaviour instead of the solution you propose in your PR?

[2017-03-07 13:53] nirbheek commented on #108
I thought about that. I am not sure it makes sense to forcibly add a compatibility version of `1.0` in Meson when the soversion/version is `0.0`. I would be very careful in being bug-for-bug compatible with Autotools since other build systems might have a different behaviour, and it can also be surprising/irritating for people that aren't transitioning from Autotools. It would be interesting to se

[2017-03-07 13:54] nirbheek commented on #108
Also, right now Meson does not pass `-compatibility_version` or `-current_version`, but that will be fixed in the next release. We were only able to get the library filename stuff in at the last minute since it's a relatively simple change with little possibility of creating bugs.

[2017-03-07 14:03] tschoonj commented on #108
Actually the macOS libtool man page is quite clear:

[code]

According to this both should never be set to 0, and therefore must be at least 1. It looks like autotools (with GNU libtool) is doing the right thing then.

[2017-03-07 14:16] nirbheek commented on #108
Is that `man libtool` or `man ld`? Could you please build with `cmake` in [the osx library versioning test](https://github.com/mesonbuild/meson/tree/master/test%20cases/osx/2%20library%20versions) and see what the values set by cmake are?

It's interesting that the manpage says that, because [the online docs](https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/Dynam

[2017-03-07 14:36] tschoonj commented on #108
Previous post was `man libtool`.

This is `man ld`

[code]

Same rule about non-zero positive numbers.

[2017-03-07 14:37] tschoonj commented on #108
@nirbheek Be very confused 😄

[2017-03-07 14:44] tschoonj commented on #108
The CMake test gives the following `make` output:

[code]

[2017-03-07 15:08] nirbheek commented on #108
That cmake log doesn't have any useful information about what linker commands were run. Can you run `otool` on the build libraries?

[2017-03-07 15:10] ebassi commented on #108
I actually opened mesonbuild/meson#1451 for this. :-)

[2017-03-07 15:10] tschoonj commented on #108
[code]

[2017-03-07 15:11] tschoonj commented on #108
@ebassi thanks!

[2017-03-07 15:13] nirbheek commented on #108
So cmake is doing something totally different. It maps the `SOVERSION` to `-compatibility_version` and maps `VERSION` to `-current_version` (which seems wrong). It also doesn't do any n+1 trickery (which seems right).

The next question is, what does XCode do ;) I'm sure it doesn't use libtool.

[2017-03-07 15:15] nirbheek commented on #108
Let's continue this line of conversation on the Meson issue. I think in libepoxy, it makes sense to do what I said above re `link_args:`.

[2017-03-07 15:16] ebassi commented on #108
@nirbheek Sure, that's what PR #109 does.

[2017-03-07 15:37] #108 closed

[2017-03-09 20:15] ignatenkobrain opened #110 "build: use pkg-config glesv2 for GLES2"
not sure about GLES1 though.

[2017-03-09 20:19] ignatenkobrain opened #111 "autotools vs meson: symbols"
I've got bunch of new symbols when switched to meson. Seems odd.

[code]

[2017-03-09 21:08] ebassi commented on #111
Those are internal symbols, which is weird because we get the visibility flags [here](https://github.com/anholt/libepoxy/blob/master/meson.build#L143) and we use them when building the shared library [here](https://github.com/anholt/libepoxy/blob/master/src/meson.build#L79).

Are you overriding the `CFLAGS`?

[2017-03-09 21:18] ebassi commented on #111
Ah, no: it's my mess.

[2017-03-09 21:22] #111 closed

[2017-03-09 21:30] #110 closed

[2017-03-27 21:42] dcbaker opened #115 "Cannot be used as a meson subproject (wrap)"
`meson.source_root()` will always be the toplevel source root, so if libepoxy is used as a wrap the generation of epoxy_headers will fail since it will look in the for `include/epoxy` in the parent project, not in epoxy itself.

[2017-03-28 09:16] ebassi commented on #115
Indeed, we use `meson.source_root()` twice:

 - once to find the `gen_dispatch.py` script, to work around a Meson bug that was already fixed a couple of releases ago
 - once to construct a full path to the headers in order to generate appropriate dependencies, as we refer to those files from different directories

Both should go away regardless.

[2017-03-28 09:17] ebassi commented on #115
@dcbaker I've opened a PR that should fix the issue; testing is appreciated.

[2017-03-28 17:15] #115 closed

[2017-04-06 12:15] victoredwardocallaghan opened #117 "A few warnings thrown in a EGL only build"
[code]

[2017-05-13 01:58] cromerc opened #120 "Meson build failure"
Since 1.4.2 building with meson fails. I run this command:
`meson --prefix=/usr --buildtype=release "../libepoxy" -Denable-docs=true`
The error I get is:
Meson encountered an error in file include/epoxy/meson.build, line 24, column 2:
Array as argument 1 contains a non-string.

1.4.1 builds just fine with meson. I can also build 1.4.2 just fine using standard make. But 1.4.2 fails to build with me

[2017-05-13 16:36] ebassi commented on #120
Which version of Meson is this?

There have been no changes between 1.4.1 and 1.4.2 on that line, and I cannot reproduce the error with Meson 0.39.* and 0.40.*.

[2017-05-13 17:02] cromerc commented on #120
I am using 0.38.1 which is the same version listed on the release page for 1.4.2: https://github.com/anholt/libepoxy/releases/tag/1.4.2

I will try with a newer version of meson and see if that helps.

[2017-05-13 17:10] cromerc commented on #120
Yep, using meson 0.40 fixes the build. The problem is when using meson 0.38.1.

[2017-05-13 17:10] #120 closed

[2017-05-13 17:13] ebassi commented on #120
Thanks for testing; I'll make sure to updated the required version of Meson.

[2017-06-05 00:40] zaitor opened #125 "64bit-portability-issue src/egl_generated_dispatch.c"
While building libexpoxy-1.4.2 for the yet unreleased openSUSE Leap 42.3, I hit the following
64bit-portability issue (same for autotools as meson build) in our post build checks.
The issue does not show up on Tubleweed, where we among other things have gcc7 as default compiler. gcc-6 is available for Leap, but same issue shows up if using that instead of gcc-4 (default in Leap).

[   72s] + cd li

[2017-06-05 00:41] zaitor commented on #125
https://build.opensuse.org/build/home:Zaitor:branches:X11:XOrg/openSUSE_Leap_42.3/x86_64/libepoxy/_log complete buildlog if of intrest.

[2017-06-05 11:16] ebassi commented on #125
@zaitor I don't have access to that build log, and it would be helpful if you actually reported what the "64bit portability issues" are on this issue.

[2017-06-05 12:14] zaitor commented on #125
@ebassi Sorry! - I was sure the buildlogs were available for people not logged in, will attach it.

as to what the portability issues are, I assume it's this the checker is complaining about:

../test/headerguards.c
[   52s] src/egl_generated_dispatch.c: In function â€˜epoxy_eglQueryDmaBufFormatsEXT_global_rewrite_ptrâ€™:
[   52s] src/egl_generated_dispatch.c:4343:1: warning: passing argument 3 of

[2017-06-06 10:25] zaitor commented on #125
1.4.3 release just fixed my issue. Thanks!

[2017-06-06 10:25] #125 closed

[2017-06-06 10:33] ebassi commented on #125
Good to know!

[2017-06-07 10:29] wang-bin opened #127 "macos needs to wrap MakeCurrent and use dispatch table"
Assume a thread has more than 1 context. dispatch_table should be rewritten when context changes. But from dispatch_common.h and gl_generated_dispatch.c I see the dispatch_table will not change because of using tls.
Using global ptr when dispatch table is disable is worse i think.

[2017-06-12 11:29] ebassi commented on #117
I think this has been fixed by updating the EGL registry. Could you please try again with Epoxy 1.4.3, and re-open this issue if the warnings are still there?

[2017-06-12 11:29] #117 closed

[2017-06-23 09:46] LocutusOfBorg opened #130 "libepoxy crash with AMDGPU-PRO"
Hello, I cherry-picked commit 8d58c890646fc1f43bcab702bb9ed6bae94daefe and this caused unbootability of some old proprietary AMD drivers

Can you please enlighten me?
Seems that 1.3.1 with that commit is a no-go, but I'm not sure how this can be solved, and if the revert is doable for you

[2017-06-23 10:01] ebassi commented on #130
That commit was reverted from the master branch.

Can you try and reproduce with Epoxy 1.4.3, or master?

[2017-06-23 10:02] LocutusOfBorg commented on #130
I already packaged it and requested to test in the launchpad bug, and damn, I didn't link it here
https://bugs.launchpad.net/ubuntu/+source/libepoxy/+bug/1698233

[2017-06-23 10:03] LocutusOfBorg commented on #130
I packaged 1.4.3, even if the priority was to trace down the bad patch and revert it, now that I know the bad commit I'll try to understand if master works, and in case
1) cherry-pick subsequent commits to make the old library work too
2) revert the commit and live happy

[2017-06-23 10:05] ebassi commented on #130
You should either keep libepoxy at 1.3.1 as it was released, or skip all the intermediate commits until 1.4.0. There was a lot of breakage between 1.3.1 and 1.4.0, and no commits in there are suitable for cherry picking.

[2017-06-23 10:07] ebassi commented on #130
Incidentally, and after reading the bug report on Launchpad: if the goal is to have support for OpenGL 4.5 then you should use libepoxy 1.4. since the GL registry used to generate the entry points was updated to 4.5 for the 1.4.0 release.

[2017-06-23 10:08] LocutusOfBorg commented on #130
I cherry-picked on top of 1.3.1 only 4 commits, and 3 of them were just NPE checks, the 4th patch is the bad one :)
this is the diff:
http://launchpadlibrarian.net/322881986/libepoxy_1.3.1-1_1.3.1-1ubuntu0.16.04.1.diff.gz

b3b8bd9af7bf1fcfe544fd131f4d4f0d117ae7bc
b8d609e8f9fc1f9c4ff359adb2c1c44619a9e7cf
8d58c890646fc1f43bcab702bb9ed6bae94daefe

[2017-06-23 10:09] LocutusOfBorg commented on #130
I would like to understand if the bug is really fixed in 1.4+ before checking if it is suitable for an update into an LTS release

[2017-06-23 10:11] ebassi commented on #130
Sure; that's why I said: either keep 1.3.1 as it is, or jump to 1.4.3. I expect you to test if 1.4.3 fixes the issue, though. ;-)

To be fair, that code does not exist anywhere in the repository, so if adding it breaks something then there's nothing to "be fixed", per se.

[2017-06-23 10:13] ebassi commented on #127
Sorry, I don't have a good answer for this question.

Is there an actionable issue for me? Did you test the conditions you mention in your report, and verified that this is what happens?

[2017-06-23 21:53] LocutusOfBorg commented on #130
"I tried the version from the new ppa (1.4.3-0ubuntu2) but unfortunately it re-introduced the black screen hang on boot. I reverted to 1.3.1-1 for now."

"I tried the 1.4.3-0ubuntu2 version as well and it also reintroduced the black screen hang on boot for me. I reverted back to 1.3.1-1ubuntu1.16.04.2."

so, it seems that commit has to be reverted in the master branch aswell?

[2017-06-24 11:32] ebassi commented on #130
The commit you reference has already been reverted, before 1.4.0 was released.

The current code is the result of 91916269e501e041406b092c7242757d0320b802, which is appropriate.

Considering you're using old binary blob drivers, I wouldn't be entirely surprised if it were a case of a driver bug; in any case, you'll have to do some investigative work yourself, given that I don't have the hardware n

[2017-06-24 11:45] LocutusOfBorg commented on #130
As said, 1.4.3 is bad too, and since the drivers are proprietary... I don't really know how we can fix that mess.
If you want me to ask people to test stuff, just ask and I will create test builds :)
for now, that commit has been reverted in debian and Ubuntu, and we will update also the stable releases.

[2017-06-24 12:32] ebassi commented on #130
I don't have anything to test, really; you need to ask somebody that is experiencing the issue to investigate what's really happening. "A black screen at boot" doesn't tell me much.

Please, ask the reporters to comment on this issue if they want to help getting this fixed.

That's a pretty poor handling of the issue. For an LTS release is perfectly acceptable to run on epoxy 1.3.1. For newer rele

[2017-06-25 21:48] m-ad commented on #130
Hi, I'm one of the people from the [Launchpad bug](https://bugs.launchpad.net/ubuntu/+source/libepoxy/+bug/1698233) that experience the boot screen hang issue either with the cherry-picked libepoxy 1.3.1 version and with 1.4.3 (for more info see over there). Right know I'm fine with running epoxy 1.3.1, but if you are interested in figuring out where my problem with 1.4.3 comes from I'd be glad to

[2017-07-07 12:24] mwhipple opened #132 "`GLVND_GLX_LIB` not defined on OS X"
Trying to build the latest on OS X breaks with:
[code]

It looks like the last relevant commit conditionally defines the constant but unconditionally references it:
https://github.com/anholt/libepoxy/commit/759de647298aca23b5d77f7f11e530dc99c08ca9#diff-64008a631b29dfa2d255bc24379b2b52

[2017-07-12 18:16] nwnk commented on #132
Fixed in #133 I think

[2017-07-13 09:38] #132 closed

[2017-07-13 09:55] ebassi commented on #130
@m-ad Thanks for your help.

The Launchpad bug is a bit inscrutable to me; the report seems to be related to a black boot — I assume the compositor is not being brought up — but there are no X11 or system logs to show if there's an error. Additionally, [this comment](https://bugs.launchpad.net/ubuntu/+source/libepoxy/+bug/1698233/comments/12) seems to indicate that the latest version does indeed w

[2017-07-13 11:41] LocutusOfBorg commented on #130
@m-ad
I prepared the latest master with that commit reverted, and uploaded in my ppa for testing:
https://launchpad.net/~costamagnagianfranco/+archive/ubuntu/locutusofborg-ppa/+sourcepub/8042709/+listing-archive-extra

the build will be done in some hours

[2017-07-13 16:42] nwnk commented on #130
I'd also be interested in the results of testing git master as well, as of #133 this code is a bit more cautious.

[2017-07-14 07:12] LocutusOfBorg commented on #130
yeah, that commit is available in the above test build.

[2017-07-14 15:02] nwnk commented on #130
I meant just master, without the revert of 9191626, as I'm pretty sure it's correct and I'd like to know what amdgpu's libGL is getting wrong.

[2017-07-14 15:50] LocutusOfBorg commented on #130
so, please @m-ad test also the master without that commit reverted, available here
https://launchpad.net/~costamagnagianfranco/+archive/ubuntu/costamagnagianfranco-ppa/+sourcepub/8045607/+listing-archive-extra

[2017-07-15 16:14] m-ad commented on #130
I tested the first build (1.4.3+git20170713-1~ppa3) and that seems to work just fine. No black screen hang on boot, everything looks okay.

I can't test the second one (1.4.3+git20170713-1~ppa4) as `apt-get` says there are no updates available (yes, I added the PPA). There are build errors mentioned on the PPA's Launchpad page though.

@ebassi Which logs would be of interest and what should I look

[2017-07-18 10:36] LocutusOfBorg commented on #130
@m-ad retried them, yes I didn't have debhelper in backports enabled :)

[2017-07-18 17:53] m-ad commented on #130
1.4.3+git20170713-1~ppa4 gives me the black screen showing only an underscore at boot. I reverted to the previous one for now.

[2017-07-18 18:11] LocutusOfBorg commented on #130
so, that revert seems needed with current master at e0426c94f6d0b45452d7a5f1b60a0d569be0db47
the revert of 91916269e501e041406b092c7242757d0320b802 seems to be still needed/useful

[2017-08-08 20:23] freeroot opened #135 "Building error of GTK+ (using jhbuild) : expected expression before « EGLContext » : EGL_NO_CONTEXT"
From https://bugzilla.gnome.org/show_bug.cgi?id=785893 , issue is due of libepoxy ?

Building error (jhbuild) : expected expression before « EGLContext » : EGL_NO_CONTEXT

In file included from /usr/include/epoxy/egl.h:46:0,
                 from /home/***/jhbuild/checkout/gtk+-3/gdk/wayland/gdkglcontext-wayland.h:32,
                 from /home/***/jhbuild/checkout/gtk+-3/gdk/wayland/gdkglcontext

[2017-08-18 02:28] tomsunchen commented on #135
now i also come across this problem when compiling gtk3. if remove  all  EGL_CAST in registry/egl.xml, for example  change EGL_CAST(EGLint, -1) to ((EGLint)-1), the problem is disappeared.

[2017-08-26 01:44] nigels-com commented on #127
Put another way, TLS associates the dispatch_table with a thread, but if the thread changes from one GL context to another it seems necessary to rebuild the dispatch table.

[2017-08-29 02:52] chuchingkai commented on #135
I met this issue too.

[2017-08-29 03:47] wang-bin commented on #127
Here is an example on macOS to show multiple contexts in a single thread may give you wrong function ptr

- replace https://github.com/glfw/glfw/blob/master/tests/windows.c#L30 with `#include <epoxy/gl.h>`
- before glfwCreateWindow https://github.com/glfw/glfw/blob/master/tests/windows.c#L125 add the following lines

[code]

- remove glad function https://github.com/glfw/glfw/blob/master/tests/win

[2017-09-06 20:58] nwnk commented on #127
So this seems to be saying that we need to treat Apple GL like WGL in terms of how GetProcAddress works. But that's both confusing and insufficient. It's confusing because on OSX we just dlsym for the right functions from OpenGL.framework, and one would think that dlsym's result wouldn't vary based on the current context. It's insufficient because if we _did_ want to mimic WGL we'd have to do a co

[2017-09-07 03:58] wang-bin commented on #127
@nwnk  It's not about apple GL,WGL, dlsym and GetProcAddress. This example shows if context is changed, the dispatch table must be updated using dlsym or GetProcAddress, because the new context may have different core apis and extensions. Similar examples for wgl, glx should not be hard to write.

[2017-09-07 11:53] nwnk commented on #127
@wang-bin sorry, that's not true. The [spec](https://www.khronos.org/registry/OpenGL/extensions/ARB/GLX_ARB_get_proc_address.txt) is quite clear about what you can do with the function pointers glXGetProcAddress gives you:

This has [many implications](https://dri.freedesktop.org/wiki/glXGetProcAddressNeverReturnsNULL/) given that you can ask for the function pointer before _any_ context is create

[2017-09-12 02:34] wang-bin commented on #127
Seems you are right. I look again at `glGenVertexArrays` from gl_generated_dispatch.c, if `USING_DISPATCH_TABLE` 0, which is default for mac, then `epoxy_glGenVertexArrays_resolver` is called every time.

[code]

Looks like context version and extensions are already checked. But why a wrong function is called in my example?

If `USING_DISPATCH_TABLE` is 1, `epoxy_XXX_resolver` is called every time

[2017-09-12 15:08] nwnk commented on #127
I mean, I don't have a Mac to test with, so I don't know what kind of GL context you're getting. But if I had to guess, I'd guess that merely asking glfw for a "core profile" is not enough, that the default is GL 1.0 and so you end up with GL 2.1 as the newest thing OSX has that's compatible with 1.0. In which case you probably don't have ARB_vertex_array_object and only the APPLE one.

It would b

[2017-09-19 17:23] clopez opened #139 "The pkg-config file should declare a Requires.private setting on the GL related libraries it depends."
On some platforms the GL libraries define some `CFLAGS` on their `pkg-config` file that the build system need to pass when building them, or the build will fail (or will compile an incorrect ifdef).

I have seen this on the following two cases:
 1) The headers of the non-free Vivante driver for Freescale platforms. In this case the EGL `pc` file defines this cflags ```-DLINUX -DEGL_API_FB -DWL_EGL

[2017-10-17 12:55] haasn opened #142 "Add a thread-safe interface?"
It seems like libepoxy is designed to load everything statically using whatever GL interface happens to be available at build time. This makes it rather useless for libraries, which may need to be used from different threads, perhaps even with different GL implementations. For example, afaict it would be perfectly valid for something to be using GLX and EGL in the same process; and you can't just

[2017-10-18 10:26] ebassi commented on #142
Epoxy already uses a dispatch table on WGL; on GLX and EGL the specification is already clear that the function pointers must be context-independent. See also [this comment](https://github.com/anholt/libepoxy/issues/127#issuecomment-327777198). The Apple GL situation is a bit more fuzzy, and would require testing, but we can extend the WGL dispatch table to also work on Apple.

Is there an actiona

[2017-10-18 15:11] nwnk commented on #142
There is an almost valid point here, which is that if you have multiple GL libraries (implicitly: from different vendors/drivers) then you really don't have any reason to expect eglGetProcAddress from each to return functions pointers that would work with the other.

I'm personally not interested in solving that problem, given that [libglvnd](https://github.com/NVIDIA/libglvnd) exists to solve exa

[2017-10-19 10:13] ebassi commented on #135
Is this still an issue when building with libepoxy from Git? I think this was caused by building libepoxy against an older version of Mesa, and was fixed by commit ebe3a53db1c0bb34e1ca963b95d1f222115f93f8

[2017-10-19 10:17] ebassi commented on #139
Considering that libepoxy dlopen's things libraries on all platforms that also use pkg-config, I don't think this is at all correct — i.e. the compiler flags for dependent projects should not be provided by libepoxy at all.

If you're building for a platform with a closed drivers, you probably want to inject those compiler flags in your build environment, not as the result of compiling against lib

[2017-10-19 14:17] freeroot commented on #135
It works, thanks !

[2017-10-19 14:17] #135 closed

[2017-11-01 20:04] haasn commented on #142
No, I'm just worried about using libepoxy in my library since it feels thread unsafe-y. But I guess I could give it a shot and see how far I get.

[2017-11-01 20:27] haasn opened #145 "Helper function to determine the highest supported GLSL version"
It can be nontrivial to figure out which GLSL version is supported, based on the combination of GL context type (GL, GLES) and the supported `GL_SHADING_LANGUAGE_VERSION` (or lack thereof).

It might be worthwhile to export `epoxy_glsl_version`, to mirror `epoxy_gl_version` and `epoxy_has_gl_extension`. It seems to fit the theme of these helpers.

[2017-11-01 21:20] haasn commented on #142
Actually, there's another issue I'm running into here: Without a dispatch table / getProcAddress callback, how am I supposed to know which version of GL to initialize in a platform-independent library? I tried just linking to libepoxy and then running glFoo commands, but the functions don't seem to return anything (e.g. `epoxy_gl_version()` returns 0). I guess that's because it hasn't actually loa

[2017-11-01 22:43] ebassi commented on #145
Yes, I agree it would be a good addition. Care to open a pull request?

[2017-11-03 09:39] haasn commented on #145
I can give it a try, but I'm not entirely sure what the correct logic is. (Part of the reason I made this issue)

Obviously there's `glGetString(GL_SHADING_LANGUAGE_VERSION)`, but I couldn't figure out whether this is always available or always contains useful results. Seems like other projects (e.g. mpv) have fallback code that sets the GLSL version to `300` for GLES 3, `200` for GLES 2, and `110

[2017-11-03 13:58] ebassi commented on #145
The GL/GLES specifications typically assign a version to the GLSL shading language that goes along with their own version; this means we can provide a fallback value depending on the GL/GLES version of the currently bound context — if the GL implementation is returning something we can't use. I surely expect any conformant GL and GLES driver to return a reasonable value, though, otherwise we may j

[2017-11-03 14:32] nwnk commented on #145
`glGetString(GL_SHADING_LANGUAGE_VERSION)` is a valid enum for GL 2.0+ and GLES 2.0+, and for GL 1.x plus `GL_ARB_shading_language_100`. Certain GL versions imply a minimum GLSL version, but I'd consider any case where the GLSL version is less than the version the GL requires to be an implementation error and not something we should try to reinterpret.

Since GL2 and GLES2 will have the "same" ver

[2017-11-04 08:55] pjrader1 opened #146 "Unable to build on macOS"
I'm running macOS (10.13) and I'm having some trouble building libepoxy. I made sure that Meson and Ninja were up to date, as well as Xcode (and the Xcode tools). I'm not overriding any defaults for the Meson configuration. Meson generates fine, but when I run `ninja` I get the following error:
[code]
I tried looking online for a solution but I can't seem to find anything. When I built libepoxy ea

[2017-11-04 15:27] ebassi commented on #146
Which version of libepoxy are you trying to build?

This should have been fixed by issue #108; care to try with a more recent checkout of libepoxy?

[2017-11-04 17:46] pjrader1 commented on #146
Alright, yes you are correct. I had checked out v1.4.3, which looking at the commit history doesn't include the fix. I had tried checking out the latest commit last night but I got my commands mixed up and didn't actually do it, I accidentally kept trying v1.4.3. It built correctly now. Thanks!

[2017-11-04 17:46] #146 closed

[2017-11-11 02:03] bgamari commented on #68
Wasn't this fixed in f81274b12470a0ce8678465112998708f63c3559?

[2017-11-21 11:59] Wallbraker opened #147 "epoxy_is_desktop_gl does not detect GLES"
Tried to change a application using libepoxy use GLES instead of Desktop GL. And epoxy_is_desktop_gl continues to return true.

[code]

[code]

[code]

[2017-11-21 16:36] nwnk commented on #147
There have been quite a few fixes since then, do you see this issue with 1.4.3 or git master? I think at minimum 7c4817f2eed2faf0353c1ceb5f38b500f6aff7cf would make some difference here.

[2017-11-23 12:56] Wallbraker commented on #147
Yes, upgrading to git master fixed my issue, thanks.

[2017-11-23 12:56] #147 closed

[2017-11-29 19:07] duffolonious opened #148 "No provider of glEGLImageTargetTexture2DOES found with NVIDIA proprietary driver"
Trying virglrenderer out (expecially since now everything seems to require OpenGL:

Backtrace:

System info (VM host - Fedora 26):

I followed the steps in the bug reports to get around some other issues (like the DRI device perms):

Same issue:
https://bugzilla.redhat.com/show_bug.cgi?id=1265997
https://bugzilla.redhat.com/show_bug.cgi?id=1507290

[2017-11-29 20:23] ebassi commented on #148
Epoxy is the shim layer providing the trampolines into OpenGL/OpenGL ES. Some functions, in GL, are gated on the existence of an extension; if Epoxy does not find the function, it will `abort()`, to easily let know application developers what went wrong.

It seems virt-viewer is calling a GL function without checking if that function is actually available; virt-viewer should perform a check and ei

[2017-11-29 20:23] #148 closed

[2017-11-29 22:03] duffolonious commented on #148
Ahhh, good to know.  Time to look at virt-viewer then.

[2017-12-17 02:52] sjuxax commented on #148
I'm hitting this issue too. It appears that nvidia is not exporting this symbol via conventional means. `es2_info` reports the extension's availability, but `glxinfo` does not. On an Intel GPU with Mesa, I can confirm that this extension is reported by both `glxinfo` and `es2_info`.

Unsure whether this would be considered within the scope of libepoxy, libglvnd, or something else. For now I've jus

[2018-01-02 20:12] duffolonious commented on #148
WIth an NVIDIA card (with a very recent driver too):

So is this a matter of looking in the wrong lib?  EGL vs GL[X] or something?

[2018-01-02 20:28] duffolonious commented on #148
@ebassi -^ is there a way for libepoxy to "failback"?  Is NVIDIA being strict in some sense?
Here is my attempt to make this nice and neat:

Those are the only lib differences, I don't know if this is useful information at all, but there it is.  Sadly I can't dedicate a card to this for passthrough.

[2018-01-02 21:57] ebassi commented on #148
Since qemu is using an EGL extension, looking at the output of `glxinfo` is pointless.

What you're seeing are the effects of a wrongly used EGL extension. The qemu code seems to be doing compile time detection of some DRM extension, instead of doing run time detection as it should.

I'm pretty sure that the nvidia binary blob driver does not support dmabuf in any way, which means that any attempt

[2018-01-04 16:02] nwnk commented on #148
No, that is the conventional means. What that's telling you is that nvidia's driver supports that extension in EGL contexts but not in GLX contexts. Presumably virgl is asking for a GLX context?

[2018-01-14 21:19] jaycarson opened #149 "epoxy_gl_version() returning 0"
epoxy_gl_version() returns 0 when it is called within an OpenGL application using OSG.

System Info:
OS: Fedora Release 26
Compiler: g++ (GCC) 7.2.1
OpenGL version: 3.0 Mesa 17.2.4

My test code and results:

main.cpp
`

    #include "../headers/main.hpp"

    int main( int argc, char** argv )
    {
    osgViewer::Viewer viewer;
    int my_gl_version;

    viewer.setSceneData( osgDB::readNodeFile(

[2018-01-14 23:54] jaycarson commented on #149
Thank you. I'm pretty new to these libraries. Do you have a suggestion for how I can modify my example code to do that?

[2018-01-15 00:13] ebassi commented on #149
I honestly have no idea what OSG is, or how it works.

If you're using Epoxy, you're supposed to use the platform-specific API to create a GL context - e.g. `glXCreateContextAttribs()` on X11, or `eglCreateContext()` on EGL-based platforms. After creating a GL context, you need to make it current - again, with the appropriate platform's function.

[2018-01-15 16:36] nwnk opened #150 "RFE: Add abstractions around context handling"
In re issue #149, it might be useful to add some API to handle the winsys calls for context creation etc. For example it'd be nice if the app didn't have to hunt for whether `glXCreateContextAttribs` is available, or handle fallbacks when some context attribute like no-error or no-flush is unavailable.

There's probably code we could steal for this in xserver or glew.

[2018-01-16 01:34] anholt commented on #150
I'm not excited about this -- I'd like this library to stay as a dlsym-vs-getprocaddress-and-aliasing helper.  I do think there's space in our ecosystem for a good GL helper library, though -- not just context creation, but things like "can you do VAOs please, even if this GL doesn't do VAOs?"

[2018-01-23 16:35] nwnk commented on #150
Well I'm not super excited about writing it, so, closing.

[2018-01-23 16:35] #150 closed

[2018-02-23 20:03] #139 closed

[2018-02-23 20:03] #145 closed

[2018-03-01 16:58] rossburton opened #157 "musl doesn't have dlvsym"
dlvsym is a glibc addition so isn't part of musl.

I suggest probing to to see if this function exists and disabling the tests which need it.

[2018-03-01 17:44] rossburton commented on #157
Patches in https://github.com/anholt/libepoxy/pull/158

[2018-03-07 21:17] jonnyrobbie opened #160 "1.5.0 breaks KWin"
Updating libepoxy from 1.4.3 to 1.5.0 breaks KWin compositing. OGL 2 nor OGL 3.1 does work. More info can be found here: https://bugs.kde.org/show_bug.cgi?id=391486 and https://bbs.archlinux.org/viewtopic.php?id=235021.

Is this a regression or intentional change? It has been suggested to report upstream, which is here.

[2018-03-07 21:34] ebassi commented on #160
Thanks for your report. Unfortunately, I don’t have an nvidia GPU using the binary blob driver, nor I use kwin, so I’ll need your help to investigate it.

It would be great if you could bisect epoxy between the 1.4.3 and 1.5.0 tags, to identify the regression. Reading the issues you linked seems to point to glvnd, but it would be good to be sure.

Additionally, it would be good to understand what

[2018-03-07 22:34] nwnk commented on #160
I've added a testing request to the bug:

https://bugs.kde.org/show_bug.cgi?id=391486#c11

[2018-03-08 05:29] ebassi commented on #160
@nwnk should we add epoxyinfo to epoxy proper, as a debugging tool?

[2018-03-08 08:54] jonnyrobbie commented on #160
Ok, interesting, I tried doing git bisect. The catch is that 1.5.0 did not even build. Part of Arch's PKGBUILD is a check() routine `meson check`

1.5.0 failed

[code]
1.4.3 passed

[code]

git bisect says that the first offending commit is:

[code]
Full meson-logs/testlog.txt of failed check:

[testlog.txt](https://github.com/anholt/libepoxy/files/1792403/testlog.txt)

[2018-03-08 09:12] hmhofman commented on #160
Not sure if this helps any, but here it goes...
Because of this ([Arch BBS](https://bbs.archlinux.org/viewtopic.php?id=235021)) report, I got to check the issues on libepoxy.
Because I couldn't downgrade (had only the last package version on my pc), I tried re-installing libepoxy from AUR, because it listed as version `libepoxy-git 1.4.0.r0.g9628670-1`.

It removed libepoxy (libepoxy  1.5.0-1) fro

[2018-03-08 09:17] ebassi commented on #160
@hmhofman that’s a question for Arch packagers.

@jonnyrobbie could you try to do what @nwnk suggested in the kwin bug?

[2018-03-08 09:46] jonnyrobbie commented on #160
@ebassi done. epoxyinfo at libepoxy150 segfaults. The remaining three results are posted there as attachments.

[2018-03-08 16:21] nwnk commented on #160
Sure. I'll put a branch together at some point if nobody beats me to it.

[2018-03-09 09:52] michalsrb commented on #160
@jonnyrobbie I have bisected the kwin issue and got the same breaking commit (e5372a25baa9034b6223b32a0cab838c42779a39). Reverting it fixes the issue.

The nvidia driver provides libOpenGL.so.0 file, not libOpenGL.so.1.

[2018-03-09 20:19] jonnyrobbie commented on #160
@ebassi what is the purpose of the offending commit? I have a feeling that simply reverting it is not the best option.

[2018-03-09 20:51] nwnk commented on #160
The purpose is:

[code]

Under glvnd we can avoid loading libGL.so.1, which we might very much like to do, because it pulls in libX11 and friends; instead we would load libOpenGL.so (and only libGLX.so if we can tell it's a GLX not EGL context) and that's what the patch attempts to do. So in that sense I think the patch is correct. and that something else is going wrong elsewhere. A backtrace from

[2018-03-09 21:13] jonnyrobbie commented on #160
I apologize for having the issue all over two threads at the same time. I hope It's not that inconvenient. Anyway, here's the trace from segfaulted epoxyinfo with 1.5.0 libepoxy. Created by mostly following [arch guide](https://wiki.archlinux.org/index.php/Debug_-_Getting_Traces)

[trace.log](https://github.com/anholt/libepoxy/files/1798456/trace.log)

[2018-03-09 21:28] nwnk commented on #160
That shows us getting a null GL extension string and feeding it to strstr. Arguably we shouldn't crash like that, but also a GL with a null extension string is not a thing (assuming you're not GL 1.0, and I promise you aren't), so what's really happening is the call to glGetString() is fizzling out and the "NULL" it returns is itself the problem.

I'm not entirely sure why that would happen, offha

[2018-03-12 12:20] ebassi commented on #157
PR #158 was merged.

[2018-03-12 12:20] #157 closed

[2018-03-13 14:27] LW-archlinux commented on #160
aur libepoxy-git doesn't run any tests.
There are also small differences in the meson setup between both packages, link time optimization is the biggest one ( used in libepoxy 1.5.0   )

[2018-03-24 16:38] Kekun opened #163 ""Couldn't find current GLX or EGL context.\n" exits GNOME Games"
When running a game in GNOME Games in some ancient machine, the application quits with this message on stderr: "Couldn't find current GLX or EGL context.". The machine still has a powerful enough GPU (i915 driver) to run gnome-shell and power totem's clutter-gtk video display.

The error message was found in epoxy_get_proc_address().

I would like Games (which uses GtkGLArea) to be able to recover

[2018-03-29 18:37] gogglesguy opened #164 "Epoxy fails to detect the (non-epoxy) GLX context under Wayland."
This issue has been introduced as part of the 1.5.0 release and as far as I can see this was broken with the following commit: 7c4817f2eed2faf0353c1ceb5f38b500f6aff7cf

Problem: Epoxy fails to detect the current GLX context created by a non-epoxy code.

Work environment is as follows:

1. Running GNOME under wayland ( loginctl showsession c2 -p Type => Type=wayland )
2. Running traditional X11 app

[2018-03-30 14:59] gogglesguy commented on #164
An dlopen() with RTLD_NOLOAD would do the same?

[2018-04-09 20:43] nwnk commented on #163
I would like it to not have the error in the first place. Can you be a bit more specific about how to reproduce this? What game are you trying to run? What version? What GPU in specific is this?

[2018-04-09 20:47] nwnk commented on #142
Correct. epoxy doesn't automate setting up the context, and uses the one you've created to glue up all the various symbols.

Closing this issue as I don't think there's anything further we need to do here. Please reopen if you encounter any further thread safety issues.

[2018-04-09 20:47] #142 closed

[2018-04-09 20:51] nwnk opened #165 "egl_and_glx_different_pointers test is insane"
[code]

I don't know if this is still the case for the NVIDIA drivers, but it's certainly no longer true for glvnd systems. Even in the described configuration, epoxy would likely not work in such a scenario. Whichever provider (either GLX or EGL) you had current when you first resolved glVertex3f would be the only one it ever dispatched to.

[2018-04-09 22:49] anholt commented on #165
Yeah, I thought it was pretty crazy, but people were also complaining about it being broken at the time.  "No, use glvnd" seems like a fairly reasonable response at this point.

[2018-04-10 17:45] anholt commented on #163
It's the responsibility of the application to create the GLX or EGL context before calling into libepoxy.  This error is what you'd get if you'd failed to do so -- are you sure games isn't just failing to create its context and then calling libepoxy anyway?

[2018-04-10 18:51] hadess commented on #163
The application simply uses GtkGLArea, which doesn't have a failure path. So it's possible that GTK+ is calling out to libepoxy without doing any checks, but looking at the GTK+/GDK code, and without access to the machine on which I reproduced this problem, I find it unlikely.

[2018-04-10 19:02] ebassi commented on #163
GtkGLArea *has* a failure path: if `GtkGLArea.create_context()` fails then `GtkGLArea.render()` is not called at all. The context creation is also dependent on the ability of GDK to have access to an OpenGL or OpenGL ES implementation.

[2018-04-10 19:13] hadess commented on #163
I didn't say it couldn't fail, merely that it didn't have a way to report that error to the caller. And even if the caller is doing something wrong, why is libepoxy exiting the application instead of asserting, making it impossible to pinpoint the culprit?

[2018-04-10 19:28] ebassi commented on #163
Of course GLArea can report the error to the caller:

[code]

[This](https://github.com/ebassi/glarea-example/blob/master/glarea-app-window.c#L224-L229) is how, typically, you check before using GL with GtkGLArea.

libepoxy's behaviour is to `abort()` immediately as soon as the internal state is invalid — e.g. if you called a GL API that you don't have access to; so pointing GDB at the program sho

[2018-04-12 10:15] hmhofman commented on #160
@nwnk :+1:
Cloned the current master branch (https://github.com/anholt/libepoxy.git),
applied your patch by hand (just to make sure that patch is the only thing updated)
Ran the install commands.
It does not work on the fly.
Rebooted the system.
Now it seems to work.

Small side-node: nvidia-340xx drivers have also been updated on my system and this was the 1st boot since. So this might not prove

[2018-04-12 11:00] hmhofman commented on #160
@nwnk
Spoke too soon.
While kwin/compositor does not crash anymore, some functions do not work.
These include (but are not limited to)
- Flip Switch
- Desktop Cube
- Invert colors
- Fish-eye lens
- Wobbely windows
- Magic Lamp

Could it be that the compositor default back to XRender even though it says it is using OpenGL ?
Before applying this patch, the compositor would crash on OpenGL.
So for th

[2018-04-12 15:18] nwnk commented on #163
... except this one place, where we call errx() instead. See #166.

[2018-04-25 10:56] #165 closed

[2018-04-30 19:45] nwnk commented on #164
Can you try this branch?

https://github.com/nwnk/libepoxy/tree/even-more-gentle-glx-detection

[2018-04-30 19:45] nwnk commented on #160
Can you try this branch?

https://github.com/nwnk/libepoxy/tree/even-more-gentle-glx-detection

[2018-04-30 20:11] nwnk commented on #130
Can you try this branch?

https://github.com/nwnk/libepoxy/tree/even-more-gentle-glx-detection

[2018-04-30 21:49] gogglesguy commented on #164
@nwnk yes those changes made it work.

Before, with the most recent libepoxy 1.5.1 I was getting:
gogglesmm: ../libepoxy/src/dispatch_common.c:862: epoxy_get_proc_address: Assertion `0 && "Couldn't find current GLX or EGL context.\n"' failed.

With your changes, the program runs fine and no longer exits.

[2018-04-30 22:40] ebassi commented on #164
PR #168 was merged.

[2018-04-30 22:45] ebassi commented on #87
GTK+ might end up using ANGLE on Windows soon-ish: see [this merge request](https://gitlab.gnome.org/GNOME/gtk/merge_requests/126). It seems that Epoxy works well enough with that, so I don't think we need to do anything on Epoxy's side: you need to build ANGLE as a dependency of your project, and Epoxy will load it just like it'd load any other GL library.

[2018-04-30 22:45] #87 closed

[2018-05-01 10:37] lantw44 opened #169 "Defining _POSIX_C_SOURCE hides asprintf and dlvsym on FreeBSD"
libepoxy currently fails to compile on FreeBSD:

[code]

FreeBSD does support the non-standard `asprintf` and `dlvsym` functions. However, `test/meson.build` defines `_POSIX_C_SOURCE`, which causes declarations of non-standard functions to be hidden.

The easiest fix I found is to replace
[code]
with
[code]
so all extensions are kept enabled.

[2018-05-01 10:40] ebassi commented on #169
I'd probably move all `-D...` out as global project arguments, using `add_project_arguments()`.

[2018-05-01 11:10] lantw44 commented on #169
Sorry, I don't understand how can it be fixed by using `add_project_arguments`. The problem here is that we cannot define `_XOPEN_SOURCE` or `_POSIX_C_SOURCE` when compiling a source file which uses non-POSIX extensions, so the change I proposed in the description is to remove these two options, not to apply them to more files.

[2018-05-01 15:27] nwnk commented on #164
Huh, yeah it would. Similarly it would break `epoxy_has_egl`. I suppose those have to have side effects, otherwise we're forcing the app to do all the dlopen work itself. Patches shortly...

[2018-05-01 16:48] nwnk commented on #163
I've had no luck trying to reproduce this with a flatpak. Is there something already in Fedora that might trigger this? Can someone still experiencing it try again with git master and see if there's a more useful backtrace?

[2018-05-01 17:10] hadess commented on #163
I still don't have access to the machine. It only happened on a machine with a ~10-year old Intel graphics card. I'll update this bug as soon as I get access to it again.

[2018-05-02 20:13] thrimbor opened #171 "Redundant glXGetProcAddressARB-calls severely reducing performance"
This may be something stupid on my side, but maybe someone can shed some light on this.

I recently tried to use libepoxy in an attempt to port an SDL+OpenGL based game to Windows (the relevant commit is [this one](https://github.com/thrimbor/Hurrican/commit/3b37d98c0eda2808bc456e75246991911303a016)).
However, using libepoxy on Linux resulted in a drastic performance loss: The fps dropped from ove

[2018-05-05 12:30] ebassi commented on #164
Merged #170 and @baedert confirmed it fixed the issue on IRC.

[2018-05-05 12:30] #164 closed

[2018-05-05 12:31] #169 closed

[2018-05-05 12:39] ebassi commented on #171
Epoxy needs to test the version and supported extensions before dispatching a function, as it takes care of handling the different API:

We cannot really cache the version and extension checks once performed, because you could call the same function using difference contexts; we could find a way to cache things a bit better, though.

On the other hand, querying the version and extensions should re

[2018-05-08 12:31] ebassi commented on #171
I do wonder, though, if you're using OpenGL < 3.2 and the old fixed function pipeline — and you're calling `glGetString()` between `glBegin()` and `glEnd()` pairs with some sort of debugging enabled.

Can you create a small, self-contained example?

[2018-05-08 15:18] nwnk commented on #171
This looks more like the resolver is being called every time. As if the variable holding the function pointer wasn't being updated.

[2018-05-10 15:31] seijikun commented on #163
I can reproduce this on Archlinux with a small game I wrote using SDL2.
The OpenGL-Context creation works without problems. After the context is created, I check that it exists. If it does not - I exit the game.
This is the code (a bit shortened):
[code]
Simply removing the whole if block involving the `epoxy_has_gl_extension("GL_ARB_debug_output")` fixes the issue and everything works as expected

[2018-05-10 15:33] ebassi commented on #163
Does `SDL_GL_CreateContext()` also make the context current?

[2018-05-10 15:39] seijikun commented on #163
Yes. The [function documentation](https://wiki.libsdl.org/SDL_GL_CreateContext) states:
[code]

[2018-05-10 15:40] ebassi commented on #163
@seijikun Thanks.

@Kekun can you try with libepoxy from master?

[2018-05-10 15:55] hadess commented on #163
He doesn't have access to the machine (and neither do I). And it was me filing this bug with his account while at a libre software meeting.

[2018-05-10 15:56] ebassi commented on #163
Argh, that wasn't for @Kekun, sorry…

[2018-05-10 15:56] seijikun commented on #163
If you also wanted me to test:
The problem is gone with master.

[2018-05-14 11:58] LocutusOfBorg commented on #130
@m-ad I used 1.4.3 and cherry-picked/rebased the two commits above (pull #168)

libepoxy - 1.4.3-1ubuntu18.04.1
libepoxy - 1.4.3-1ubuntu16.04.1

are you still available to do a test build in my ppa?
https://launchpad.net/%7Ecostamagnagianfranco/+archive/ubuntu/locutusofborg-ppa/+delete-packages

patch:
[code]

[2018-05-15 19:49] nwnk commented on #171
@thrimbor if you could test the patch in #173 that'd be awesome.

[2018-05-16 17:07] thrimbor commented on #171
Sorry for not replying earlier, didn't have much time to spend on this in the last few days.

@nwnk That patch works very well, performance is now almost identical to not using libepoxy!

@ebassi The code can be configured to use OpenGL 1.1 or 2.1, but it uses glVertexPointer and friends instead of glBegin/glEnd. My reason for using libepoxy was to get rid of the manual function pointer handling f

[2018-05-16 18:53] nwnk commented on #171
@thrimbor well I'm glad it helps, but I'm concerned that it'd be needed. Your code doesn't look like it's trying to save function addresses, so I would naively think that calling `glVertexAttribArray` on a second function entry would see the updated value of `epoxy_glVertexAttribArray`.

I wonder if this is a funny interaction with linking with `-Bsymbolic`, if our resolver is updating the value o

[2018-05-16 19:53] nwnk commented on #171
@thrimbor could you test a build of libepoxy without the patch from #173, but with the `-Bsymbolic`s in `src/meson.build` changed to `-Bsymbolic-functions`? I think that should make epoxy bind its function calls to itself but still use the copy relocs for data.

[2018-05-17 00:56] thrimbor commented on #171
@nwnk Changing that has the same positive effect on performance.

[2018-05-17 13:25] ebassi commented on #171
Opened #174 with the linker flag change only, but given the testing, we should likely merge both.

[2018-05-17 16:03] #171 closed

[2018-05-21 01:02] nwnk commented on #163
Fixed in 1.5.2.

[2018-05-21 01:02] #163 closed

[2018-05-22 18:44] cmh8133 opened #175 "Problem with dependancy versions with yum update"
yum update
Loaded plugins: langpacks, rhnplugin, ulninfo
This system is receiving updates from ULN.
Resolving Dependencies
--> Running transaction check
---> **Package libepoxy.x86_64 0:1.3.1-1.el7 will be updated**
--> Processing Dependency: libepoxy(x86-64) = 1.3.1-1.el7 for package: libepoxy-devel-1.3.1-1.el7.x86_64
---> **Package libepoxy.x86_64 0:1.3.1-2.el7_5 will be an update**
--> Finished

[2018-05-22 18:48] ebassi commented on #175
You should file a bug against the Linux distribution you're using.

[2018-05-22 18:48] #175 closed

[2018-05-29 15:21] ilovezfs opened #176 "1.5.2 macOS run time failure "Couldn't open libOpenGL.so.0: dlopen(libOpenGL.so.0, 5): image not found""
Regressed by https://github.com/anholt/libepoxy/pull/170

[code]

The test block runs
[code]

The problem is that although OPENGL_LIB gets defined for __APPLE__ at https://github.com/anholt/libepoxy/blob/791b28c186882eb8d56f1002acda1dbb4ac00de3/src/dispatch_common.c#L178 as
[code]
it then gets redefined generically in the else at https://github.com/anholt/libepoxy/blob/791b28c186882eb8d56f1002acda

[2018-05-29 20:20] nwnk commented on #176
Honestly we should start by hooking up some macos builders in Travis, and writing some more tests for it.

[2018-05-29 20:26] ebassi commented on #176
The OSX builder on the free Travis instance is permanently backed up, but I can try enabling it.

[2018-05-29 20:54] nwnk opened #177 "Some tests assume GL 3.0"
Or at least, they assume the GL3/GLES2 feature of making a context current without binding a drawable:

[code]

This isn't an especially urgent issue, because even for pre-GL3 hardware (Ironlake/NV40/R500 and older) Mesa supports this feature anyway. The one driver that doesn't is non-gallium swrast, which you're only likely to encounter if you don't have llvmpipe or swr for some reason. Say you'r

[2018-05-29 20:57] nwnk commented on #176
@ebassi I think they end up being effectively serialized. I switched xserver's travis to only make one runner for whatever the newest OSX is, and that's usually quick enough. If we wanted more elaborate coverage we could set up the yml to start the full OSX test matrix only on specially named git branches.

[2018-05-29 21:28] ebassi commented on #176
@nwnk I've added the osx builder on the Travis CI matrix, and massaged the build script so that it runs; need to run the test suite as well, and check if the build options matrix is working as intended

[2018-05-30 07:33] ebassi commented on #176
@ilovezfs Could you have a look at #178 and check if that fixes the build for you?

Additionally, it would be great to have a small test case we can add to the suite, so that we can run it on macOS and ensure we're not regressing at run time.

To be fair, though, it seems that the errors you're seeing when building your test code are actually coming from macOS; it's hard to find some documentation

[2018-05-30 07:59] ilovezfs commented on #176
#178 looks good. See https://gist.github.com/ilovezfs/9a1619a0d47d51277427c4af3b59cff0

Those warnings seem to be caused by a missing `#include <OpenGL/OpenGL.h>` in the test. If add that then I get

[code]
So something is still a bit off with our test.

[2018-05-30 08:42] ilovezfs commented on #176
The test is from the original formula added in https://github.com/Homebrew/legacy-homebrew/pull/34345

From the comments, the test was written by @scoopr.
See https://github.com/Homebrew/legacy-homebrew/pull/34345#issuecomment-74938134
https://github.com/scoopr/homebrew/commit/ae259fa3eb91884c8b88c5b6f8b0866419a4dc5c

[2018-05-30 08:46] ilovezfs commented on #176
Yup, your revised test runs without warnings or errors:
[code]

[2018-05-30 08:51] ilovezfs commented on #176
In terms of licensing, it's all BSD 2-clause "Simplified" License. See https://github.com/Homebrew/homebrew-core/#license

[2018-05-30 08:58] ebassi commented on #176
@ilovezfs Brilliant, thanks!

[2018-06-13 23:52] Lord-Kamina opened #180 "1.5.2 crashing on macOS."
Hey there, I'm one of the developers of performous and I just noticed that 1.5.2 is causing Performous to crash.

I haven't yet been able to determine the cause, but it worked perfectly up to 1.5.1.

Relevant log:

[code]

[2018-06-14 16:00] nwnk commented on #180
Can you try with git master? In particular I think 8c3d3711 would affect this.

[2018-06-14 16:03] Lord-Kamina commented on #180
I was currently playing around with reverting selected commits between 1.5.1 and 1.5.2 to try and determine what caused the issue but sure.

Also, apparently somebody on Arch Linux ran into the same issue but I'm not entirely clear because for them (going by dates of posted issue and commments) maybe 1.5.1 broke it and 1.5.2 fixed it?

[2018-06-14 16:37] Lord-Kamina commented on #180
Ok yes, it works with current master.

[2018-06-18 05:33] stefson opened #181 "libexpory-1.5 fails to build with uclibc"
when compiling libpoxy-1.5 with uclibc, the build breaks with this error:

[code]
I added the build log and a log with the most important os libs and compilers.

[full build log](https://github.com/anholt/libepoxy/files/2109973/build.log.zip)
[emerge --info](https://github.com/anholt/libepoxy/files/2109992/emerge-info.zip)

libepoxy 1.4 is just fine by the way

[2018-06-18 08:14] ebassi commented on #181
`egl_has_extension_nocontext.c` had that `strdup()` call since commit 0270c800 in 2013, i.e. since 1.4.0, and uclibc has a `strdup()` implementation – though it seems it's gated on `_XOPEN_SOURCE_EXTENDED`.

[2018-06-18 08:18] ebassi commented on #181
@stefson could you try building #182?

[2018-06-18 08:55] stefson commented on #181
yes, it does build now! thanks for the fast fix :)

[2018-06-18 08:57] #181 closed

[2018-06-18 08:58] ebassi commented on #180
@Lord-Kamina Thanks for testing with master; I'll try and spin a 1.5.3 release soon-ish.

[2018-07-05 19:35] nwnk commented on #177
https://lists.freedesktop.org/archives/mesa-dev/2018-July/199491.html

[2018-07-09 20:12] #177 closed

[2018-07-25 12:25] MaliciouSSymbol opened #185 "why use epoxy"
why
[code]
instead of
[code]

[2018-07-25 12:32] ebassi commented on #185
Hi; this is an issue tracker, and does not really work as a way to ask questions about the nature of Epoxy.

"Why use epoxy" — I assume you haven't read the [README](https://github.com/anholt/libepoxy/blob/master/README.md) file with the rationale for using Epoxy.

As for the header to include: Epoxy provides the GL API through wrappers, so it can load symbols on demand; check for supported extens

[2018-07-25 12:32] #185 closed

[2018-08-08 10:54] dweineha opened #186 "autogen.sh should use mkdir -p m4"
autogen.sh isn't idempotent; it tries to create the m4 directory, and if it exists it fails.

Reasonably we should only fail if creation fails due to permissions or similar, not if the directory already exists.

Suggested fix is to use mkdir -p m4 || exit 1

This way we'll still exit if the directory cannot be created due to permission issues, I/O errors, etc., but succeed if the directory already

[2018-09-18 18:08] bochecha opened #188 "Autotools build doesn't actually enable X11"
https://github.com/anholt/libepoxy/commit/ce8cbdbe064f5fd7f3e78b6349fa86604e6189d7 made X11 optional for both the Autotools and Meson builds.

[In `src/dispatch_common.h`, we can see](https://github.com/anholt/libepoxy/blob/master/src/dispatch_common.h#L49-L55):

[code]

Unfortunately, the Autotools build never sets `ENABLE_X11`, even when `--enable-x11` was passed, and the dependencies are instal

[2018-09-25 02:01] Lin-Buo-Ren opened #190 "Meson warns about future feature usage"
[code]

[2018-10-04 04:55] Lord-Kamina commented on #180
@ebassi Just wondering when we might get 1.5.3?

[2018-10-04 20:55] ebassi commented on #190
Thanks, fixed by #192.

[2018-10-04 20:55] #190 closed

[2018-10-04 21:02] ebassi commented on #188
Thanks for the detective work! We're only ever testing the Meson build in the CI, so it slipped through the cracks.

Could you please test #193 and see if it works? I'd like to get this merged for 1.5.3.

[2018-10-04 21:04] ebassi commented on #186
I'd actually always remove the `m4` directory unconditionally and re-create it. The `autogen.sh` script should always result in a clean slate.

The Autotools build is kind of low on the list of priorities. Care to open a pull request? :wink:

[2018-10-04 21:05] ebassi commented on #180
@Lord-Kamina As soon as #193 gets merged, I'm going to spin a new release. Thanks for your patience!

[2018-10-04 23:12] #188 closed

[2018-10-04 23:32] ebassi commented on #127
Considering that GL support in macOS has been deprecated, I'm not very optimistic about this getting addressed.

[2018-10-04 23:33] ebassi commented on #68
No feedback in 11 months ⇒ closing.

[2018-10-04 23:33] #68 closed

[2018-10-04 23:34] ebassi commented on #130
No comment in ~6 months ⇒ closing.

[2018-10-04 23:34] #130 closed

[2018-10-04 23:34] ebassi commented on #160
The branch in question was merged.

No comment in 6 months ⇒ closing.

[2018-10-04 23:34] #160 closed

[2018-10-04 23:54] ebassi commented on #180
1.5.3 is out, thanks again for the reminder.

[2018-10-04 23:54] #180 closed

[2018-10-05 01:51] Lord-Kamina commented on #180
Thank you very much!

[2018-10-05 09:54] LocutusOfBorg commented on #130
sorry, I can't test it, because I lack the hw... @m-ad please ack the changes!

[2018-10-06 13:08] m-ad commented on #130
Sorry, I can't test this anymore since I updated my kernel and got rid of the proprietary amdgpu-pro driver.

[2018-11-04 04:14] pjrader1 opened #196 "Unable to build on Windows"
I'm trying to build libepoxy on Windows, but I keep running into compilation errors, most having to do with 'undeclared identifier' and 'undefined'. I'm using meson v0.48.1, ninja v1.8.2, and I've made sure to checkout the latest commit of libepoxy (`a7439f9`).

I've tried building using ninja, VS2017, and VS2015, all give the same error.

This is the output when I run `meson`, which appears to be

[2018-11-05 23:07] pjrader1 commented on #196
I set up my own AppVeyor instance of libepoxy, it built correctly (I tried it with both VS2015 and VS2017, both succeeded). For some reason on both my Windows machines, I get that error.

I did some investigating with the AppVeyor artifacts, I've discovered that `gl_generated.h` and `wgl_generated.h` are not the same on my machine compared to the AppVeyor build. Here's the missing lines from [`gl_

[2018-11-06 02:15] pjrader1 commented on #196
I figured out the problem. Meson, for some reason, was using Python 3.6.5, when I have Python 3.7 installed. When I ran `meson "runpython" <gen_dispatch.py>`, it didn't generate the whole file, however when I ran `python <gen_dispatch.py>` (Python 3) it generated correctly. This stumped me for about an hour until I decided to re-install Meson using `pip` (I had used Meson's .msi installer previous

[2018-11-06 02:15] #196 closed

[2018-12-19 16:58] 127001Dev opened #197 "ccccccccccccccccccccccccccccccccccccccccfffffffffffsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

[2019-01-16 10:47] LittleC opened #198 "Questions about building library for mobile platforms(iOS & Android)"
Sorry if this is the wrong place to ask questions.

I'm new to libepoxy and is trying to integrate it with my own project, which would use OpenGL for rendering for both desktops(mac/windows) and mobiles(iOS/Android).

Currently, I've successfully generated libraries for desktops using instructions in README, and also tested that they works perfectly.
But I'm not aware of how to create libraries fo

[2019-01-18 23:37] Ninja-Koala opened #199 "Windows: wglMakeCurrent in Thread causes segfault"
Making a context current in a thread causes a segfault, minimal reproducing example [here](https://gist.github.com/Ninja-Koala/33bf18903cf2ea0d3a7e2c8a1021d30b)

[2019-01-30 15:19] ebassi commented on #198
This is an issue tracker, so it'd be better to ask on other venues where people working on libepoxy are usually gathered, like the `#xorg-devel` IRC channel on freenode.

I honestly have never built libepoxy for Android; I know that some people have been able to cross-compile it using the Android NDK, but I don't know how.

Hopefully this should give you a start on how achieve what you want.

[2019-01-30 15:19] #198 closed

[2019-03-05 15:09] prlw1 commented on #85
Bemused:

- Why patch for android, and not expect a bug to be issued against android?
- The full title of the linked page is "OpenGL® Application Binary Interface for Linux", which again suggests that the version with a major number be #ifdef Linux
- The linked page states

so these don't appear to be arguments against the suggestion.

[2019-03-05 18:51] anholt commented on #85
We should absolutely be using an ABI number, and the android thing is an unfortunate workaround for android ABI being a disaster.  Hopefully NetBSD is sane and has been stable at whatever their number is for a long time, and we can just have one extra #ifdef for NetBSD's number being unusual. (I don't know why they would have diverted from Linux's ABI, since any divergence on the BSDs I considered

[2019-03-15 18:39] RobertBColton opened #200 "Crash Deleting Core 3.3 Win32 or SDL Based Context"
Hello, our project, [a game engine](https://github.com/enigma-dev/enigma-dev), is investigating switching our glew dependency to libepoxy so that we can simplify context creation and support OpenGL ES. We use a bridging system so the user can select from the GUI whether to use SDL or raw native Win32 for the window. I've had relatively great success switching our bridges over to using libepoxy ins

[2019-03-15 22:26] RobertBColton opened #201 "MESA Swap Support is Undeclared"
Hi again, I have an issue with using glx/libepoxy on Ubuntu 14 (Travis CI instance). As it stands `glxSwapIntervalMESA` does not seem to be declared by `epoxy/glx.h` which is giving me a compile error.
[code]

[2019-03-15 22:56] ebassi commented on #201
First things first: the version of Mesa on Travis is hopelessly out of date. I strongly encourage you to use a newer version of Mesa in your CI environment, like we do in Epoxy itself.

Additionally, you really don't want to use [GLX_MESA_swap_control](https://www.khronos.org/registry/OpenGL/extensions/MESA/GLX_MESA_swap_control.txt); you should use [GLX_EXT_swap_control](https://www.khronos.org/r

[2019-03-15 23:14] RobertBColton commented on #201
Hi @ebassi and thank you for the advice on mesa, I can and will look into that. Let me mention that this is somewhat related to #200 just in the sense that it's part of the same effort of [switching our game engine off of glew and using libepoxy](https://github.com/enigma-dev/enigma-dev/pull/1602) so we can get OpenGL ES going too while simplifying the context handling.

With that said, let me tel

[2019-03-16 07:26] RobertBColton commented on #200
Ok, so through more debugging I have narrowed this problem down to two issues.

### Calling GL Functions in Stack Destructor Crashes
We have several classes in our engine that handles cleaning up the OpenGL objects in their destructors. We may change this but regardless I want to document it for the libepoxy users. If you have a stack allocated object whose destructor is called when the program cl

[2019-03-16 07:43] RobertBColton commented on #200
I want to add that I think it's possibly something to consider that libepoxy could may have a custom exit handler to allow calling OpenGL functions in destructors safely. The following VirtualBox mailing post pontificates on this.
https://www.virtualbox.org/pipermail/vbox-dev/2016-November/014175.html

[2019-03-18 16:46] anholt commented on #201
epoxy only automatically falls back to aliased providers of the same functionality (for example glVertexAttrib4fvNV() vs glVertexAttrib4fv() -- you get to detect that either the extension or the core support is present, then use one name throughout your code).  None of the swap interval glx functions are defined to be aliases of each other, so you have to actually use the right one for the extensi

[2019-04-18 19:54] nwnk opened #202 "foo_provider_resolver could be optimized"
For extensions, we generate:

[code]

But we already have a copy of the string `GL_3DFX_tbuffer`, in `enum_string`. Or we would, if we didn't format that as `"GL extension \"GL_3DFX_tbuffer\"\0"`. The only reason we format it that way is so we can print that on resolution failure, which isn't especially useful, since a) resolution failure means a broken app anyway and b) the extension type (GL, GL

[2019-04-26 06:33] RobertBColton commented on #201
Ok, so to clarify, how can I get access to `glXSwapIntervalMESA(interval);` as a fallback for when the extension isn't available? How can I resolve the original error?

We actually run a CI test harness on Travis that uses MESA to run our graphics engine. Then we use an image diff tool to look for regressions. So, we'll need to keep our MESA fallback.

[2019-04-26 12:45] RobertBColton commented on #200
@anholt is perhaps the second wgl.h issue because there's no NULL checking in `epoxy_handle_external_wglMakeCurrent`? The crash occurs in the below block of code that's just after the closing brace of my game's main while loop. It's the same thread where I created the context, so I don't understand why it should crash.
https://github.com/anholt/libepoxy/blob/d536f78db81853b18ffc733af8a1474e9ca0895

[2019-04-26 13:49] ebassi commented on #201
@RobertBColton If the `GLX_MESA_swap_control` extension is not available, then there won't be `glXSwapIntervalMESA()` available. Additionally, if your GL driver is not Mesa and it does not have `GLX_MESA_swap_control` compatibility, you will need to check if the symbol is defined at compile time as well:

[code]

[2019-04-27 04:39] RobertBColton commented on #201
@ebassi Thank you so much, closing as resolved because I now figured out what's going on. Basically, a year ago you guys added `glXSwapIntervalMESA` in fe62e02231a4e527a896784bdb293c644a94320f but the Travis Ubuntu 14 we use hasn't gotten the newer version of epoxy. So yes, the correct thing to do is a compile time check. Alternatively/later we could also manually load the function ourselves, but

[2019-04-27 04:39] #201 closed

[2019-04-27 04:58] RobertBColton commented on #200
@ebassi might you have an idea about this crash?

[2019-04-27 06:23] RobertBColton commented on #200
I've no discovered just the following will crash on the second line with the same crash log.
[code]

[2019-04-28 19:01] RobertBColton opened #204 "Tests Do Not Include Core Context"
Despite the name of the source file, the WGL CI test is not actually creating a core context. A core context can only be created through `wglCreateContextAttribsARB`.
https://github.com/anholt/libepoxy/blob/d536f78db81853b18ffc733af8a1474e9ca08950/test/wgl_core_and_exts.c#L36

[2019-05-01 17:24] RobertBColton opened #205 "OpenGL ES Registry Missing"
I am looking to use libepoxy also for loading OpenGL ES, but I noticed that among your registry entries you guys only have `gl.xml` which is part of the combined registry.
https://www.khronos.org/registry/OpenGL/index_es.php

Now, I am confused about which header to include for using OpenGL ES, where I would have only the extension points for OpenGL ES and not the ones for OpenGL. I would like it

[2019-05-01 20:36] anholt commented on #205
Sorry, we don't have an option for that.  Applications may call either desktop or ES from the same code (that's part of the point of this library!), and just like with extensions, it's up to you to make sure that you only take code paths that are valid for your particular context.

[2019-05-01 20:47] RobertBColton commented on #205
Understood, thanks, I just wanted clarification!

[2019-05-01 20:47] #205 closed

[2019-05-13 17:21] anholt opened #206 "shave size by removing exceptions support"
Noticed while looking at someone else's CFLAGS, might be particularly promising for us:

https://www.chromium.org/chromium-os/build/c-exception-support

[2019-05-16 20:33] nwnk commented on #206
I think that would break passing a callback to `glDebugMessageCallbackARB` if said passed function (called C++ code that) threw an exception.

[2019-05-16 22:45] anholt commented on #206
Yeah, I had that thought too, but that seemed like a reasonable tradeoff.

[2019-06-08 17:30] prodrigestivill commented on #148
Since `virt-viewer` is using `spicy-gtk`, a new issue has been created in their issue tracker as [spice-gtk#100](https://gitlab.freedesktop.org/spice/spice-gtk/issues/100).

[2019-06-25 18:55] MarkCallow opened #207 "Can a library use Epoxy without interfering with using applications?"
I have a library with a few functions that use OpenGL {,ES}. Until now they've been in separate compilation units so only apps that were using the OpenGL functions would need to link with OpenGL. I have had to make some changes (think virtual functions) that mean those functions will be included even in apps that will never call them. To avoid a dependency on OpenGL for those apps, I need to runti

[2019-06-25 22:29] #202 closed

[2019-07-01 18:03] MarkCallow commented on #207
Ping!

[2019-07-01 18:30] ebassi commented on #207
Epoxy generates symbols that map to the GL function names, as defined by the OpenGL registry; if you include "epoxy/gl.h" and then use, say, `glGenBuffers`, you will actually be calling `epoxy_glGenBuffers()`, which will trampoline into epoxy and then into whatever GL library was dynamically loaded by epoxy.

Epoxy doesn't create any context. It's purely a library that loads the appropriate GL sha

[2019-07-01 18:38] MarkCallow commented on #207
So the answer to my first question is yes?

Thanks for the information.

[2019-07-01 18:44] ebassi commented on #207
The answer to your question is: it depends.

If an application is trying to `dlopen()` libGL.so and then defines a bunch of symbols like:

[code]

Then the symbol will conflict if `epoxy/gl.h` is also included. Otherwise: no, there won't be any conflict. Of course, doing the work twice is not really useful, and epoxy encodes a lot of knowledge in how to safely retrieve the appropriate function poi

[2019-07-01 18:52] MarkCallow commented on #207
Why would this conflict? Wouldn't Epoxy be using `some_other_vtable`? I suppose there is a remote chance some other loader chooses the same name for its vtable, but other than that?

The only other potential conflict I see is redefining `glGenBuffers` but my library will not include whatever header the app may be using and the headers my library exposes will not include `epoxy/gl.h` so there won't

[2019-07-01 19:02] ebassi commented on #207
I said:

Because epoxy defines `glGenBuffers` itself.

[2019-07-01 19:12] MarkCallow commented on #207
Thanks. I think I'll give Epoxy a try.

[2019-09-09 10:30] #207 closed

[2019-09-24 11:17] v-borg commented on #164
I've faced the same problem on Fedora 30 when I've tried to compile this [GTKmm's GLArea example](https://github.com/agrechnev/gtkmm-fun/tree/master/glarea0).

[code]

When I run the code from the repo (using Wayland) the following message is thrown:
[code]

[2019-11-26 15:34] ebassi commented on #186
Nothing happened in over a year, and I'm in the process of landing #212 which removes the Autotools build entirely, so I think we can safely close this issue.

[2019-11-26 15:34] #186 closed

[2020-01-02 21:25] AdrianVovk opened #214 "Replace MESA_EGL_NO_X11_HEADERS with EGL_NO_X11"
MESA_EGL_NO_X11_HEADERS is [deprecated](https://gitlab.freedesktop.org/mesa/mesa/blob/master/include/EGL/eglplatform.h#L58) in Mesa. Also libglvnd's eglplatform.h doesn't support MESA_EGL_NO_X11_HEADERS, only EGL_NO_X11

[2020-01-14 11:56] #214 closed

[2020-01-14 12:04] ebassi commented on #127
Nothing happened in 2 years and change ⇒ closing.

[2020-01-14 12:04] #127 closed

[2020-01-14 12:05] ebassi commented on #199
Thanks for your patience.

I don't have a Windows machine to test this on; could you please attach a stack trace for the segfault?

[2020-01-14 12:09] ebassi commented on #67
Nothing happened in 3 years ⇒ closing

Epoxy uses Meson, now, and it does support static builds: I can successfully do a static build on Linux. If static builds on Windows fail, they should be reported as a separate issue.

[2020-01-14 12:09] #67 closed

[2020-01-14 12:12] ebassi commented on #204
Thanks for you patience.

Would it be possible for you to open a pull request with a fix for the test?

[2020-01-14 14:38] Ninja-Koala commented on #199
I will attach a stacktrace, but i will probably not have time for this before weekend.

[2020-01-14 15:30] RobertBColton commented on #204
Ok I've sent #217 but I could use some help because I am not sure if I am checking for WGL extensions correctly.

[2020-01-18 11:59] Ninja-Koala commented on #199
So, here is the stacktrace:
[epoxy-stacktrace.txt](https://github.com/anholt/libepoxy/files/4080586/epoxy-stacktrace.txt)
I had to do some program counter magic to get a meaningful backtrace (see https://stackoverflow.com/a/9810389)

[2020-01-29 15:52] nacho opened #218 "Regression on Windows"
I get the following error when building 1.5.4 which I did not get with the 1.5.3:

[code]

[2020-02-10 19:48] dqh-github opened #219 "macOS epoxy_has_gl_extension() only working with legacy OpenGL"
I've been playing with trying to understand why VICE Gtk3 performs so bad on macOS vs linux and Windows.

I discovered that VICE works great if Gdk doesn't ask for OpenGL 3.2 or 4.1, and gets the legacy renderer instead. Host CPU performance goes from about 75% to 45%.

When running with gl 2.1, epoxy_has_gl_extension() reports support for GL_ARB_texture_non_power_of_two, GL_ARB_texture_rectangle

[2020-02-10 19:54] ebassi commented on #219
Epoxy has nothing to do with this.

The `epoxy_has_gl_extension()` function is just a thin wrapper around `glGetString(GL_EXTENSIONS)` which queries the GL implementation; so, if asking for a GL extension works with legacy GL contexts and does not work with non-legacy GL contexts, then it means Apple's GL driver returns different extensions depending on the version of the GL context currently in u

[2020-02-10 19:57] dqh-github commented on #219
Ok, interesting. It seems weird to me that pretending that GL_EXT_framebuffer_blit was detected when it wasn't causes gdk/gtk to perform so much better though? Makes me wonder if the extension string Apple reports is slightly different for non legacy contexts. If this is the case, would it be valid to raise it here again given that Epoxy is there for detecting extensions?

[2020-02-10 20:04] dqh-github commented on #219
So glGetString(GL_EXTENSIONS) returns NULL using non-legacy renderer. Using legacy I get:

`GL_ARB_color_buffer_float GL_ARB_depth_buffer_float GL_ARB_depth_clamp GL_ARB_depth_texture GL_ARB_draw_buffers GL_ARB_draw_elements_base_vertex GL_ARB_draw_instanced GL_ARB_fragment_program GL_ARB_fragment_program_shadow GL_ARB_fragment_shader GL_ARB_framebuffer_object GL_ARB_framebuffer_sRGB GL_ARB_half_f

[2020-02-10 20:06] ebassi commented on #219
No. Libepoxy is not used to "detect" extensions: it's used to call GL API to detect extensions, which means:

 - the GL implementation needs to return the extensions it supports
 - the calling code needs to deal with the extensions

Epoxy is just a minimal wrapper around GL; it has no logic of its own.

It's better to not "pretend" anything.

GL works by feature negotiation: you ask what extension

[2020-02-10 20:08] ebassi commented on #219
This could be a bug in GDK. **Please** [file one](https://gitlab.gnome.org/GNOME/gtk/issues/new).

[2020-02-10 20:17] dqh-github commented on #219
glGetString(GL_EXTENSIONS) is deprecated as of OpenGL 3.0, according to discussion at https://community.khronos.org/t/gl-extensions-replacement/55542 . They're saying that enumeration is the new way of doing things. Genuinely sorry to labour the point but it really seems like epoxy_has_gl_extension() could support the enumeration method of querying reported support, at least on macOS?

Anyway i've

[2020-02-10 20:19] ebassi commented on #219
Then feel free to open a pull request that makes `epoxy_has_gl_extension()` use `glGetStringi()` when the current GL context has a version >= 32, while maintaining the existing API.

[2020-02-10 20:20] dqh-github commented on #219
Great, thanks and I will.

[2020-02-11 06:20] dqh-github commented on #219
It turns out epoxy already implements enumeration for GL >= 30, it is not using glGetString(GL_EXTENSIONS). I believe this is a GDK bug after all, as you pointed out GL_ARB_texture_non_power_of_two is core GL 2.0 and GL_EXT_framebuffer_blit is core 3.2, and from what i'm reading these don't need to be reported as 'extensions' with these contexts.

[2020-02-11 06:47] dqh-github commented on #219
Struggling to find an authoritative source for which open gl version which extension becomes core. Incorporating that information into epoxy would make epoxy_has_gl_extension() do what GDK and probably other users of the library are expecting. Would you consider such a patch, if I could find a definitive source of when extensions become core? Probably a lot of work though.

[2020-02-11 08:45] dqh-github commented on #219
There is gl.xml [https://www.khronos.org/registry/OpenGL/xml/](here) that appears to contain authoritative data on which extensions are core in which gl version.

What if I wrote a python script that generated lookup tables for epoxy, and modified epoxy_has_gl_extension() to check core functionality based on epoxy_gl_version() before looking at the reported extensions? I am wondering if macOS is u

[2020-02-11 09:17] nacho commented on #219
I recall debugging this some time ago and afaik while GL_ARB_texture_non_power_of_two is part of core GL I think it was actually not supported by the opengl from OSX...

[2020-02-11 10:02] dqh-github commented on #219
It's certainly reported as available when you get an OpenGL 2.1 context on macOS, just not when you get a 3.2 or 4.1 context. Is it possible your memory is simply based on glGetStringi(GL_EXTENSIONS, i) not reporting support for GL_ARB_texture_non_power_of_two? Because that's the core issue here - I think core features are not being reported by the GL_EXTENSIONS mechanism on macOS when many people

[2020-02-11 19:06] anholt commented on #219
It is perfectly reasonable for an implementation to not report extensions whose functionality was also integrated into the core.  It's a bit silly, and Mesa decided to expose those extensions anyway due to the issue that your app is seeing, but ultimately it's up to the app.

GDK should be checking if is_desktop_gl && gl_version >= 2.0 and assuming NPOT textuers, and desktop && version >= 3.0 for

[2020-02-12 01:07] dqh-github commented on #219
Thanks for explaining that. Perhaps there's space in the world for separate library that automates the version checks and then calls into Epoxy as needed.. At any rate, i'll be submitting a GDK patch as you describe and hopefully bring Gtk 3 towards being as viable for VICE as it is on Linux and WIndows.

[2020-02-12 01:07] #219 closed

[2020-02-25 18:23] #218 closed

[2020-04-07 22:14] EvanBalster opened #221 "Can't build for Windows without Visual C++ 2008 installed"
Bit of a goose-chase today.  The sanity-checking executable used in the project's meson build system depends on an obscure Visual C++ runtime: `Microsoft.VC90.DebugCRT`, which is not included in the Visual C++ 2008 redistributable.  It appears the simplest way to install this runtime is to install Visual C++ 2008.

Prior to installation, invoking `meson` gave me:

[code]

And in the event viewer..

[2020-04-07 22:20] EvanBalster commented on #221
Never mind, invoked with inconsistent environments.

[2020-04-07 22:20] #221 closed

[2020-04-14 03:14] yungcross opened #222 "It shows errors when I use autogen.sh"
I use autogen.sh.
But it will show errors below:

checking for KHR/khrplatform.h... no
checking if gcc supports -Wno-int-conversion... yes
./configure: line 19246: syntax error near unexpected token `EGL,'
./configure: line 19246: `    PKG_CHECK_MODULES(EGL, egl)'

How to fix this problem.

Thank you.

[2020-04-14 13:18] ebassi commented on #222
You seem to be missing the `pkg.m4` macro file, which comes with pkg-config.

[2020-04-14 13:18] #222 closed

[2020-07-19 08:00] eyelash opened #224 "EGL_WL_bind_wayland_display extension missing"
libepoxy is missing the functions and symbols from the [EGL_WL_bind_wayland_display](https://www.khronos.org/registry/EGL/extensions/WL/EGL_WL_bind_wayland_display.txt) extension. The extension is present in the [official XML](https://github.com/KhronosGroup/EGL-Registry/blob/master/api/egl.xml) but not in the [copy in this repo](https://github.com/anholt/libepoxy/blob/master/registry/egl.xml).

I

[2020-07-21 18:39] ebassi commented on #224
The `README.md` file in the `registry` directory should tell you how to update the registry.

[2020-09-04 12:58] vvavrychuk opened #230 "perf backtraces miss libepoxy function and function that calls it"
I am debugging virglrenderer which uses libepoxy on Adreno GPU. I use following perf command for that:

    perf record -e kgsl:kgsl_mem_alloc -g -p PID

as result I obtain following data traces like

	ffffff800877a910 gpumem_alloc_entry ([kernel.kallsyms])
	ffffff800877a910 gpumem_alloc_entry ([kernel.kallsyms])
	ffffff800877a9a4 kgsl_ioctl_gpuobj_alloc ([kernel.kallsyms])
	ffffff8008787b30 kgsl_

[2020-11-10 08:38] bdouxx opened #234 "wayland session failed with a dock for lenovo T460"
hi,

OS: Gentoo KDE.
kde-plasma: 5.19.5
kde-frameworks: 5.74.0
kde-apps: 20.04.3
dev-libs/plasma-wayland-protocols : 1.1.1
dev-libs/wayland : 1.18.0
dev-libs/wayland-protocols : 1.20
dev-qt/qtwayland : 5.15.1
kde-frameworks/kwayland : 5.74.0
kde-plasma/kwayland-integration : 5.19.5
kde-plasma/kwayland-server : 5.19.5

laptop lid opened.
X11 -> ok
Wayland  -> ok

laptop lid closed, on a lenovo dock

[2020-11-12 16:49] nwnk commented on #234
epoxy doesn't change the current context without being told to, so this is almost certainly a kwin bug. Is there anything else in `wayland-session.log` before this?

[2020-11-24 12:25] nacho commented on #218
Any chance to get a new release?

[2020-11-24 13:32] ebassi commented on #218
Will do a new release by the end of this week (November 27th).

[2020-11-24 14:45] nacho commented on #218
Thanks!

[2020-12-06 11:01] bdouxx commented on #234
Hi,

new test and full log for 3 configurations, and all package updated:
* laptop only
[wayland-session.log_computer_only_ok.txt](https://github.com/anholt/libepoxy/files/5648638/wayland-session.log_computer_only_ok.txt)
* laptop an hdmi
[wayland-session.log_computer_and_hdmi_ok.txt](https://github.com/anholt/libepoxy/files/5648637/wayland-session.log_computer_and_hdmi_ok.txt)
* hdmi only
[waylan

[2020-12-29 19:09] jamiltron opened #237 "Error building on Windows 10"
With the latest msi-installed meson/ninja, I get several compiler errors when running ninja, most seem to be unknown types or implicit function declarations. Here's the first:

[7/25] Compiling C object src/libepoxy-0.dll.p/dispatch_wgl.c.obj
FAILED: src/libepoxy-0.dll.p/dispatch_wgl.c.obj
"cc" "-Isrc\libepoxy-0.dll.p" "-Isrc" "-I..\src" "-Iinclude" "-I..\include" "-Iinclude\epoxy" "-fdiagnostics-

[2021-01-14 10:54] gjz010 commented on #200
I meet the similar problem when I was cross-compiling libepoxy testcases **statically(!)** using mingw-w64, and was able to detect and fix the problem to get the testcases running under a special case.

The problem: libepoxy assumes shared-linking on Win32.
---------------
The problem can be easily traced to (generated) `gl_generated_dispatch.c`, where the `dispatch_table` in
[code]
is `0`, causin

[2021-03-01 17:22] linkmauve commented on #68
Fyi this bug is now fixed by dbfa4b209c0712b67dfeb8366c2ebe8503063b52, thanks a lot!

[2021-03-02 16:52] linkmauve opened #240 "Draw calls missing in apitrace (regression)"
dbfa4b209c0712b67dfeb8366c2ebe8503063b52 is the first bad commit.

This happens with apitrace master, gtk4-demo records everything (?) except draw calls like `glDrawArrays()`.

[2021-03-02 17:19] frumble opened #241 ""Couldn't find current GLX or EGL context" on KDE Plasma 5.21 using AMDGPU"
Hello, I’m using a Radeon RX 5700 XT on Arch Linux, Kernel 5.11, libepoxy 1.5.5 and after the recent update to KDE Plasma 5.21, its compositor Kwin is constantly crashing with the error log:

[code]

I have already [filed a bug report](https://bugs.kde.org/show_bug.cgi?id=433589) on the KDE bug tracker. It’s especially occurring when I’m using Firefox (configured to use WebRender), Thunderbird and

[2021-03-05 15:32] batesj commented on #240
It looks like before that commit, there was a bug that caused libGL.so to always be used even if libOpenGL.so was present. After the commit, libOpenGL.so will be used if it is found, else libGL.so will be used.

[2021-03-05 19:42] ya-isakov commented on #240
@linkmauve could you please check, if there is libOpenGL.so.0, and move it somewhere to test, if it will fix your issue? My guess is that apitrace doesn't support libglvnd.

[2021-03-05 19:45] ya-isakov commented on #240
Also it is worthy to check if setting TRACE_LIBGL=libOpenGL.so.0 will help as well

[2021-03-06 03:09] amezin opened #242 "Build fails on Windows"
Current `master` branch fails to build:

In `x64 Native Tools Command Prompt for VS 2019`:

[code]

[2021-03-09 14:16] shadeslayer commented on #240
Hi
Could you provide more steps to reproduce the issue? I've built libglvnd, libepoxy, mesa ( with the -Dglvnd=true flag) and apitrace locally and can't seem to reproduce the issue with glmark2. I definitely see glDrawArray calls in my traces.

[2021-03-10 22:51] evelikov commented on #240
@ya-isakov libglvnd should just work, even if libepoxy uses `libOpenGL.so` while apitrace does `libGL.so`. Albeit small, there's a possibility of this might be a libglvnd bug in itself.

If it were me, first I would check if apitrace wraps `dlsym` and `{egl,glX}GetProcAddress` to intercept all GL dispatch (glDrawArray or otherwise) and see in which library we end on the problematic call(s).

[2021-03-16 17:31] kloczek opened #244 "libepoxy: test suite is failing"
[code]
[code]

[2021-03-16 17:33] ebassi commented on #244
The crash is in Mesa, in the swrast driver.

[2021-03-16 17:33] #244 closed

[2021-03-16 18:02] kloczek commented on #244
Sh*t .. why I've not spotted that? :/
Sorry.

[2021-03-18 11:14] bog-dan-ro opened #245 "Static build fails on linux"
I tried to build epoxy as a static library (-Ddefault_library=static) but it fails to link:
[code]

[2021-03-21 18:45] bemoody opened #246 "GLsizeiptr and GLintptr defined incorrectly?"
According to the GL specs, the types GLsizeiptr and GLintptr should be the size of a pointer (as the 'ptr' suffix would suggest.)

This is supported by the <GL/glext.h> supplied by the MinGW-w64 cross compiler (mingw-w64-common 6.0.0-3 on Debian):

    typedef ptrdiff_t GLsizeiptr;
    typedef ptrdiff_t GLintptr;
    ...
    typedef ptrdiff_t GLsizeiptrARB;
    typedef ptrdiff_t GLintptrARB;

libe

[2021-03-21 19:04] ebassi commented on #246
The header is generated from `gl.xml`, which says:

[code]

but, sadly, not every system provides a `khrplatform.h`, and we can't detect if an header exists before including it; this means we get to define a bunch of types that should be in that header.

I guess it should be possible to change those definitions depending on the platform.

[2021-03-21 19:06] ebassi commented on #246
Could you try #247 and see if it fixes the problem? I don't have a Windows 64 bit build I can test on, at the moment.

[2021-03-22 02:46] bemoody commented on #246
Thanks for the quick response!  At the moment I don't have a Windows
system handy either.  Actually trying to come up with a simple and
definitive test case is a little tricky as well... for one thing, it
seems that Mesa/Gallium has problems if you try to create a single
buffer larger than 4 GiB.

One simple test that does work with Mesa is to try running:

    GLint buffer;
    glGenBuffers(1, &b

[2021-03-31 10:16] #242 closed

[2021-04-05 22:53] frumble commented on #241
Solved [by resetting Kwin config](https://bugs.kde.org/show_bug.cgi?id=433589#c7).

[2021-04-05 22:53] #241 closed

[2021-04-18 09:43] bdouxx commented on #234
problem solved with recent upgrade

OS: Gentoo KDE.
kde-plasma: 5.21.4
kde-frameworks: 5.81.0
kde-apps: 20.12.3
dev-libs/plasma-wayland-protocols : 1.1.1
dev-libs/wayland : 1.19.0
dev-libs/wayland-protocols : 1.20
dev-qt/qtwayland : 5.15.2
kde-frameworks/kwayland : 5.74.0
kde-plasma/kwayland-integration : 5.21.4
kde-plasma/kwayland-server : 5.21.4
media-libs/libepoxy: 1.5.5

[2021-04-18 09:43] #234 closed

[2021-04-19 14:46] #246 closed

[2021-04-21 00:30] paullee2018 opened #249 "Issue for building for Raspberry PI4"
hi,

I followed this tutorial to install the libepoxy.

https://www.raspberrypi.org/documentation/linux/software/libcamera/README.md

but I get the following error. It seems the header generated has khronos_uintptr_t declared twice. I deleted the last one and build/install works fine.

`In file included from ../include/epoxy/gl.h:89,
                 from ../src/dispatch_common.h:44,

[2021-04-21 12:53] ebassi commented on #249
The generated files do not match these errors. The `khronos_uintptr_t` definition appears only once.

Have you tried building Epoxy multiple times? Care to try with:

[code]

instead?

[2021-04-27 02:39] paullee2018 commented on #249
Still complains when I run `meson setup _build .`

[2021-04-27 11:16] ebassi commented on #249
Care to attach your `include/epoxy/gl_generated.h` to this issue?

[2021-04-30 10:59] YuriSedunov commented on #249
This issue reproduced for all 32-bit architectures.

    21	#include <inttypes.h>
    22	#include <stddef.h>
    23
    24	#include "epoxy/common.h"
    25	#define __khrplatform_h_ 1
    26	typedef int8_t khronos_int8_t;
    27	typedef int16_t khronos_int16_t;
    28	typedef int32_t khronos_int32_t;
    29	typedef int64_t khronos_int64_t;
    30	typedef uint8_t khronos_uint8_t;
    31	typedef uint

[2021-04-30 11:15] ebassi commented on #249
Ah, yes, found it.

There's a redeclaration of `khronos_uintptr_t` because I missed the `typedef` below. On IA and 64 bit, and with GCC or C11, the redeclaration is allowed because the type is the same, so I couldn't see the build breaking locally or on the CI.

It would be nice to have a 32bit build to check this stuff.

I'll open a MR with a possible fix.

[2021-04-30 11:17] ebassi commented on #249
@YuriSedunov @paullee2018 could you try the build with #250 applied?

[2021-04-30 11:51] YuriSedunov commented on #249
Yes, build passed for all architectures.
http://git.altlinux.org/tasks/271008/

[2021-04-30 11:56] ebassi commented on #249
Thanks!

[2021-04-30 11:56] #249 closed

[2021-05-01 16:19] rubyFeedback opened #251 "[Minor] Package release syncing"
Right now we can see the following:

On:

    https://download.gnome.org/sources/libepoxy/1.5/?C=M&O=D

Most current release is:

    https://download.gnome.org/sources/libepoxy/1.5/libepoxy-1.5.6.tar.xz

So version 1.5.6.

The most current release on github here is:

    https://github.com/anholt/libepoxy/releases
    https://github.com/anholt/libepoxy/releases/download/1.5.7/libepoxy-1.5.7.tar.x

[2021-05-01 16:20] rubyFeedback commented on #245
I sometimes have this problem specifically with meson/ninja. Not sure if this is related to the issue here
but I remember having had projects with GNU configure that could be built static, but the meson/ninja
way failed.

[2021-05-01 16:59] ebassi commented on #251
Please, don't use the issue tracker for user support.

I do the uploads to download.gnome.org mostly for convenience, not because it's necessary. The release archive generated by `meson dist` are attached to the release page on github, and that's the authoritative source for releases.

No, it does not.

Checking out from Git will always yield the latest release; what's in the `master` branch will

[2021-05-01 16:59] #251 closed

[2021-05-13 12:05] Ernest1338 opened #252 "Upgrading libepoxy from 1.5.5 to 1.5.7 results in Xorg crashing on boot"
Hello,

Basic info:
- OS: Manjaro Linux KDE
- Kernel: 5.11.18-1-MANJARO
- GPU: Radeon R9 380 with AMDGPU drivers

I encountered this issue after an recent Manjaro update which amongst other things updated the libepoxy version from 1.5.5 to 1.5.7 which (as I later found) was the package causing my Xorg to crash on boot.
Using the ```git bisect``` I managed to find the problematic commit, which is:

[2021-05-13 13:11] ebassi commented on #252
I guess we're going to need the opinion of @nwnk and @ya-isakov on this.

I can do a revert and publish 1.5.8, but first I'd like some confirmation from other distributions using epoxy 1.5.7, to understand if this is a specific regression or a build issue somewhere else.

[2021-05-13 18:09] ya-isakov commented on #252
Hmm, I can see in log, posted in Manjaro forum, this strange line
[  5840.986] (EE) AMDGPU(0): glGetString() returned NULL, your GL is broken

[2021-05-13 18:28] ya-isakov commented on #252
glGetString is handled by epoxy_get_bootstrap_proc_address, which is returning epoxy_gl_dlsym in most cases, which, in turn, loads GL library (libOpenGL.so, if available, or libGL.so), and will try do dlsym of geGetString on it. In case of error, there should be  a message "glGetString not found", which I can't see in the logs... so, honestly, I do not understand, what could go wrong here.

@Ernes

[2021-05-13 18:42] ya-isakov commented on #252
@Ernest1338 Also, it seems that if Xorg cannot load Glamor, it's falling back to ShadowFB, so this could prevent us from seeing a proper trace. Could you, please, also try to run Xorg with libepoxy-1.5.7, libOpenGL.so.0 present (if it is in the system), and ShadowFB disabled in config of xorg? I think, the proper way is to put
```Option "ShadowFB" "off"```
somewhere in xorg config. Please, post a

[2021-05-13 18:58] ya-isakov commented on #252
And yes, we need more testing on other distros, as Manjaro is based on Arch linux, but I cannot find any bug report on Arch bugtracker

[2021-05-13 19:06] Ernest1338 commented on #252
So I checked and libOpenGL.so.0 is present both in /usr/lib32/ and /usr/lib/.
I'm gonna rename it and try running Xorg in a minute.

[2021-05-13 19:37] ya-isakov commented on #252
@Ernest1338 Actually, I might have a wild idea... Who is a vendor of your libGL.so? libglvnd or AMD? I'm just thinking that maybe libOpenGL.so, which is basically a glvnd wrapper, could not find a proper vendor implementation for AMD, but libGL.so is AMD-provider library, that's why it works for older versions of libepoxy, as older versions were forcefully using libGL.so for anything.

[2021-05-13 19:45] Ernest1338 commented on #252
I renamed the libOpenGL.so.0, updated the libepoxy and rebooted. Xorg still crashed.
Then I checked and the libOpenGL.so.0 was back, so it got recreated somewhere during the startup?

I attached the log file but I don't think it changed.
[Xorg.0.log](https://github.com/anholt/libepoxy/files/6474724/Xorg.0.log)

[2021-05-13 19:50] ya-isakov commented on #252
Yeah, it's still the same. I think, that my idea about glvnd which cannot find any vendor, could be the only cause. Could you, please, check, from which package are your libOpenGL.so.0 and libGL.so are from?

[2021-05-13 19:54] Ernest1338 commented on #252
Sorry, but I never done this before, which command should I use to check that?

[2021-05-13 19:57] ya-isakov commented on #252
I have no idea, sorry, how to do it in Manjaro

[2021-05-13 20:02] Ernest1338 commented on #252
Ok, so I used the pkgfile tool and I think that worked.
This is the output:
- LibOpenGL.so.0:
[code]
- libGL.so:
[code]

[2021-05-13 20:25] ya-isakov commented on #252
So, as conclusion - from the logs, it seems that Xorg cannot load glamoregl, because GL_VENDOR is empty. I thought, that something wrong happened with loading glGetString symbol, but no, NULL is returned by this function. It seems that both libGL.so and libOpenGL.so are provided by libglvnd, and if libGL.so is working (and it is working, as libepoxy 1.5.5 is using it in place of libOpenGL.so), the

[2021-05-13 20:38] ya-isakov commented on #252
It could be libglvnd bug, as libepoxy's task is to load libraries, and dispatch GL calls to them. As there are no error messages in Xorg.log related to any errors in lib loading, then it could be some incompatibility between libOpenGL.so and Xorg. Could you, please, report this bug to libglvnd repo, and see if they can find a cause?

[2021-05-13 20:54] Ernest1338 commented on #252
Sure, I'll do that then. I'm not sure what title should I use in the bug report, maybe something like: "Possible incompatibility between libOpenGL.so and Xorg causing Xorg to crash on boot" or maybe you can suggest something something better?

[2021-05-13 21:00] ya-isakov commented on #252
Yeah, it's fine, but, please, post this log line from your log
[code]
This is my main suspect, why it could be in libglvnd, as libepoxy is loading glGetString from libOpenGL.so (with my patch), and if this function returns NULL, it means that the cause could be in libOpenGL.so. And as you checked, it is provided by libglvnd

[2021-05-13 21:07] Ernest1338 commented on #252
As you can see I made an issue as you said.
Tell me if I should edit something.
Also, can you help answering the question posted by aaronp24?

[2021-05-13 21:13] ya-isakov commented on #252
Yeah, adding info there, thank you :)

[2021-05-13 21:51] ya-isakov commented on #252
@nwnk
If libglvnd is returning NULL, because there is no current context, could it be caused by this:
1) Xorg is loading libGL.so, for GLX extension
2) Xorg is using libepoxy for EGL init, and making context, which is set in loaded libGL.so
3) Xorg is using libepoxy for glGetString, which is loading libOpenGL.so, essentially losing context in libGL.so?

[2021-05-13 21:58] philmmanjaro commented on #252
Seems my hint on **libglnvd** was ignored ... https://forum.manjaro.org/t/upgrading-libepoxy-from-1-5-5-to-1-5-7-results-in-xorg-crashing-on-boot/66195/8

[2021-05-13 22:02] ya-isakov commented on #252
@philmmanjaro if it's a context problem, then libglvnd is probably not a cause, the context could be lost in libepoxy

[2021-05-19 18:12] Ernest1338 commented on #252
I don't know if that helps, but upgrading lib32-libepoxy to 1.5.7 works just fine.

[2021-05-19 18:43] philmmanjaro commented on #252
Maybe there was a mismatch at some point. However with today's **stable** snap we have now the following packages:

libepoxy repository : extra
Stable : 1.5.7-1
Testing : 1.5.7-1
Unstable : 1.5.7-1

lib32-libepoxy repository : multilib
Stable : 1.5.7-1
Testing : 1.5.7-1
Unstable : 1.5.7-1

[2021-05-19 18:53] Ernest1338 commented on #252
I installed today's update, but the issue still stands. (lib32-libepoxy is at 1.5.7)

[2021-05-21 13:24] wojnilowicz opened #253 "glGetString displays (null) for nvidia-340xx"
Steps to reproduce:
1) unpack [gl3.zip](https://github.com/anholt/libepoxy/files/6522638/gl3.zip)
2) compile gl3.cxx with "cc -o gl3 gl3.cxx -Dwith_epoxy=1 -lGL -lX11 -lepoxy"
3) run "./gl3"

Result:
OpenGL vendor string: (null)

Expected result:
OpenGL vendor string: NVIDIA Corporation

Additional info:
1) compiling gl3.cxx with "cc -o gl3 gl3.cxx -Dwith_epoxy=0 -lGL -lX11 -lepoxy" gives
OpenGL v

[2021-05-21 14:29] ebassi commented on #253
This is a duplicate of #252.

[2021-05-21 14:29] #253 closed

[2021-05-21 14:31] ebassi commented on #252
Epoxy doesn't have a context: it's entirely up to the caller to have one and make it current.

[2021-05-21 14:33] ebassi commented on #252
Considering that #253 is happening in Fedora, I'm tempted to just revert the commit, at this point.

[2021-05-21 15:45] evelikov commented on #252
Note the offending commit also breaks apitrace/gtk4 - see https://github.com/anholt/libepoxy/issues/240

[2021-05-21 15:52] ya-isakov commented on #252
I think that yes, it should be reverted, I just do not understand, how usage of different lib (libOpenGL.so vs libGL.so) broke OpenGL context, if libepoxy is not doing anything with it.

[2021-05-21 15:59] ebassi commented on #252
Okay, let's close this.

[2021-05-21 16:00] #252 closed

[2021-05-21 16:00] ya-isakov commented on #253
@wojnilowicz is it the same with `cc -o gl3 gl3.cxx -Dwith_epoxy=1 -lX11 -lepoxy` (just dropped linking with libOpenGL.so and libGLX.so, libepoxy should load them dynamically)

[2021-05-21 16:05] ya-isakov commented on #253
@wojnilowicz also, could you, please, check if libGLX.so is provided by libglvnd?

[2021-05-22 07:45] wojnilowicz commented on #253
Yes.

Yes.

[2021-06-30 16:47] eyelash commented on #224
Any chance to get an updated EGL XML into the next release of libepoxy?

[2021-07-01 18:33] batesj opened #258 "Add github CI workflow and script to test integration of libepoxy, apitrace, Xorg, etc"
As discussed in https://github.com/anholt/libepoxy/pull/257, we need some integration tests to check for potential downstream failures from libepoxy changes. These would hopefully prevent cases like bugs #240 #252 and even #253.

[2021-09-24 09:37] linkmauve opened #260 "glTexImage3D() should also be provided by GL_OES_texture_3D"
epoxy is currently saying:
[code]

But `GL_OES_texture_3D` also provides this symbol, under the name `TexSubImage3DOES`.

[2022-01-10 05:45] jhon-elen opened #267 "cannot open source file "epoxy/glx.h""
cannot open source file "epoxy/glx.h" in vscode. I am trying to compile with M1 apple chip

<img width="990" alt="Screen Shot 2022-01-10 at 00 43 54" src="https://user-images.githubusercontent.com/58744960/148722754-2664407f-e8c3-499a-aa49-6df2c03efa69.png">

<img width="869" alt="Screen Shot 2022-01-10 at 00 47 42" src="https://user-images.githubusercontent.com/58744960/148723076-746945e6-fb6c-41

[2022-01-10 15:24] ebassi commented on #267
You'll have to set your include path. Libepoxy ships with a [pkg-config file](https://www.freedesktop.org/wiki/Software/pkg-config/) that defines the compiler and linker flags to be used.

[2022-01-10 15:24] #267 closed

[2022-01-12 05:00] jhon-elen commented on #267
I got same error, 'epoxy/glx.h' file not found in command-line

<img width="929" alt="Screen Shot 2022-01-11 at 23 58 38" src="https://user-images.githubusercontent.com/58744960/149066627-a684ba45-bcb8-4365-9d0f-6d845e225864.png">

[2022-01-13 23:31] jhon-elen opened #268 "cannot find glx.h lib"
I got error, 'epoxy/glx.h' file not found in command-line
<img width="929" alt="149066627-a684ba45-bcb8-4365-9d0f-6d845e225864" src="https://user-images.githubusercontent.com/58744960/149425109-232ec015-63bd-4ccd-930c-d0ff760a37bc.png">

[2022-03-04 11:30] Myqiaoq opened #269 "gl_version 0 - compat profile"
I am using virtio-gpu on NVIDIA T4

when start VM by qemu cmdline:
##epoxy_internal_gl_version version=4.6.0 NVIDIA 510.47.03 ## version_string=7938
##epoxy_internal_gl_version version=4.5.0 NVIDIA 510.47.03 ## version_string=7938
gl_version 45 - core profile enabled

when start VM by libvirtd:
##epoxy_internal_gl_version version=2.1 Mesa 18.3.4 ## version_string=7938
##epoxy_internal_gl_version v

[2022-03-12 02:01] m3t4f1v3 commented on #245
add "static: true" to the dependency lines eg.
gl_dep = dependency('gl', required: false**, static: true**)

[2022-04-20 20:26] 0-wiz-0 opened #271 "1.5.10 release: please add proper distfile"
The libepxoy-1.5.10.tar.gz file has not been added for the 1.5.10 release. Please add this, for easier packaging. Thanks!

[2022-05-05 03:19] robbie01 opened #272 "Khronos registries need bump"
It seems that the registries haven't been updated since 2019, which is a shame because I wanted to make use of [EGL_EXT_PLATFORM_xcb](https://www.khronos.org/registry/EGL/extensions/EXT/EGL_EXT_platform_xcb.txt) from 2020. There's nothing stopping me from adding `#define`s myself, but it would be much appreciated if the registries could be bumped to latest.

[2022-05-28 09:16] robbie01 opened #273 "Add a public GetProcAddress returning pointers to libepoxy functions"
Some libraries, such as [libmpv's render API](https://github.com/mpv-player/mpv/blob/master/libmpv/render_gl.h), need a GetProcAddress function in order to be initialized. However, when the GL context in question was initialized by a platform using libepoxy, for example a GTK 4 GLArea, the relevant GetProcAddress can be any one of them, with the only recourse at the moment being for the applicatio

[2022-06-07 04:40] neheb opened #274 "not compiling under musl"
[code]

missing X11 dependency. The build should not have gotten this far.

[2022-06-30 14:12] christianrauch opened #276 "missing WGL_ARB_extensions_string"
I am getting
[code]
from https://github.com/anholt/libepoxy/blob/1.5.10/src/dispatch_wgl.c#L54-L60.

Apparently, `wglGetProcAddress("wglGetExtensionsStringARB")` returns NULL. Any idea what might be wrong?

[2022-07-04 01:33] neheb commented on #274
Same issue under Debian 11.

[2022-07-04 01:34] neheb commented on #274
wait a minute...why is this even using bool options?

[2022-08-22 14:58] lb90 opened #277 "glPushDebugGroupKHR jumping at the wrong offset in the dispatch table"
Epoxy reports the `GL_KHR_debug` is supported, but when calling `glPushDebugGroupKHR` its' actually jumping at the dispatch entry for `glProgramUniformMatrix2x4fvEXT`, which happens to ba unavailable on my system, and the application crashes.

[code]

See https://gitlab.gnome.org/GNOME/gtk/-/issues/5128

* AMD driver
* Windows 10 21H2
* MSYS2

[2022-08-22 22:32] ebassi commented on #277
This looks like a GL driver issue.

Actually: did you create a debug GL context? You need a debug context in order to push a debug group.

[2022-08-25 11:26] lb90 commented on #277
I have updated the AMD driver package, but to no avail.

However I experience the same issue in calls to `glDeleteProgram`, see https://gitlab.gnome.org/GNOME/gtk/-/issues/5129. And on another device with Intel UHD integrated graphics and NVIDIA GeForce MX discrete graphics I get the same crash (tested by running on both the graphics devices).

I am starting to wonder if this ain't something simil

[2022-08-26 09:57] lb90 commented on #277
Ok, I have some updates:

`glDeleteProgram` is called after setting the WGL context to `NULL`. This cannot be done, because the addresses returned by `wglGetProcAddress` are subject to the active WGL context. In particular, for a NULL WGL context, `wglGetProcAddress` always returns NULL.

This is also explained in https://github.com/anholt/libepoxy/blob/1.5.10/README.md#known-issues-when-running-o

[2022-09-01 13:39] barracuda156 opened #278 "Build failure on dispatch_egl: error: unknown type name 'EGLDisplay'"
Compilation fails with `Egl` option enabled on 10.6.8:
[code]
P. S. `mesa` @19.0.8_1+osmesa+python27 (with Egl support enabled), `gcc12` @12.2.0.

[2022-09-01 14:20] barracuda156 commented on #278
After EGL enabled and dylib location set, build fails with:
[code]

[2022-09-01 14:42] barracuda156 commented on #278
`_DARWIN_C_SOURCE` definition should be added, that fixes `error: 'RTLD_NEXT' undeclared`.

[2022-09-05 18:21] barracuda156 commented on #278
So, this is fixed like this:
[code]
Obviously however, `libEGL.1.dylib` should be installed first, it is not there by default.

[2022-09-05 18:28] barracuda156 opened #280 "How better to implement strndup for MacOS versions that do not have it? (needed for EGL)"
Two source file related to EGL use `strndup` which is missing on MacOS X < 10.7 – `egl_has_extension_nocontext.c` and `egl_epoxy_api.c`.

In Macports we can use `legacysupport` PortGroup, which provides needed definition:
https://github.com/macports/macports-legacy-support/blob/master/include/string.h

I guess it can be borrowed and included either directly in those 2 files or in a header common t

[2022-09-28 12:47] Mis012 commented on #68
I can't seem to find a way to *not* reproduce this bug... using a debugging build of Gtk to force EGL on x11 used to work, but doesn't seem to anymore (or maybe I was lucky with my setup)

last tested on Tumbleweed Gnome Shell wayland, and alpine linux Gnome shell wayland / openbox x11

[2022-09-28 16:49] Mis012 commented on #68
ok, so I tried compiling libepoxy without glx support so that it can't possibly try to use glx... and now I get `symbol lookup error: /lib64/libgtk-4.so.1: undefined symbol: epoxy_glXMakeContextCurrent`

[2022-09-30 13:25] ebassi commented on #68
That has nothing to do with libepoxy: GTK4 cannot be built without GLX support unless it's built without its X11 backend.

[2022-10-12 19:04] Mis012 commented on #68
yeah, I got that sorted... didn't mean to post that in this thread

but while I managed to work around the original issue by compiling Gtk without x11 support and libepoxy without Glx support, it would be nice if it could somehow be fixed